## **PROYECTO MÓDULO 3: Optimización de Talento**

### **FASE 2: limpieza**

TIPS: 

- Eliminar info redundante, duplicados, eliminar columnas con demasiados nulos

- Homegeneizar columnas: cambiar nombre (todas a minúscula, con guion bajo, etc.)

- Poner el tipo de dato correcto a cada columna

- Limpieza o reemplazo de caracteres

- Creación de columnas nuevas, normalmente basadas en otras

- Gestión de nulos: Para pasar nulos a % de nulos: (df_final.isnull().sum() / df_final.shape[0]) * 100

In [1]:
#Importar librería
import pandas as pd
import numpy as np

In [2]:
#Configuración de la visualización del DataFrame
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
#Lectura del CSV y transformación a DataFrame (df)
df=pd.read_csv("HR RAW DATA.csv", index_col =0)

In [4]:
# Diccionario para cambiar el nombre de las columnas a castellano y normalizar

nuevas_columnas = {
    "Age": "edad",
    "Attrition": "desvinculado",
    "BusinessTravel": "frecuencia_viaje",
    "DailyRate": "tarifa_diaria",
    "Department": "departamento",
    "DistanceFromHome": "distancia_domicilio",
    "Education": "nivel_estudios",
    "EducationField": "campo_estudios",
    "employeecount": "employeecount",
    "employeenumber": "numero_empleado",
    "EnvironmentSatisfaction": "nivel_satisfaccion_global",
    "Gender": "genero",
    "HourlyRate": "tarifa_hora",
    "JobInvolvement": "nivel_compromiso",
    "JobLevel": "categoria",
    "JobRole": "puesto",
    "JobSatisfaction": "nivel_satisfaccion_trabajo",
    "MaritalStatus": "estado_civil",
    "MonthlyIncome": "ingreso_mensual",
    "MonthlyRate": "tarifa_mensual",
    "NUMCOMPANIESWORKED": "trabajos_anteriores",
    "Over18": "over18",
    "OverTime": "horas_extras",
    "PercentSalaryHike": "%_incremento_salarial",
    "PerformanceRating": "evaluacion_desempeño",
    "RelationshipSatisfaction": "nivel_satisfaccion_relaciones",
    "StandardHours": "tipo_jornada",
    "StockOptionLevel": "acceso_acciones_empresa",
    "TOTALWORKINGYEARS": "años_en_activo",
    "TrainingTimesLastYear": "formaciones_ultimo_año",
    "WORKLIFEBALANCE": "nivel_satisfaccion_conciliacion",
    "YearsAtCompany": "antigüedad_empresa",
    "YearsInCurrentRole": "años_puesto_actual",
    "YearsSinceLastPromotion": "años_ultimo_ascenso",
    "YEARSWITHCURRMANAGER": "años_mismo_responsable",
    "SameAsMonthlyIncome": "recibe_mismo_salario",
    "DateBirth": "año_nacimiento",
    "Salary": "salario",
    "RoleDepartament": "rol_y_departamento",
    "NUMBERCHILDREN": "hijos",
    "RemoteWork": "teletrabajo"
}

In [5]:
# Aplica diccionario para cambiar el nombre de las columnas

df.rename(columns = nuevas_columnas, inplace = True)

In [6]:
# Ordena las columnas de forma más lógica

df = df[[
    "numero_empleado",
    "desvinculado",
    "genero",
    "edad",
    "año_nacimiento",
    "estado_civil",
    "nivel_estudios",
    "campo_estudios",
    "frecuencia_viaje",
    "distancia_domicilio",
    "teletrabajo",
    "tipo_jornada",
    "formaciones_ultimo_año",
    "trabajos_anteriores",
    "años_en_activo",
    "antigüedad_empresa",
    "años_ultimo_ascenso",
    "años_mismo_responsable",
    "años_puesto_actual",
    "departamento",
    "rol_y_departamento",
    "categoria",
    "puesto",
    "horas_extras",
    "evaluacion_desempeño",
    "tarifa_hora",
    "tarifa_diaria",
    "tarifa_mensual",
    "ingreso_mensual",
    "%_incremento_salarial",
    "recibe_mismo_salario",
    "acceso_acciones_empresa",
    "nivel_compromiso",
    "nivel_satisfaccion_global",
    "nivel_satisfaccion_trabajo",
    "nivel_satisfaccion_relaciones",
    "nivel_satisfaccion_conciliacion",
    "employeecount",
    "over18",
    "salario",
    "hijos"
]]

##### **Eliminamos 7 columnas:**

- employeecount: tiene el mismo valor para todas las filas 

- Over18: tiene muchos valores faltantes  

- YearsInCurrentRole: tiene muchos valores faltantes y no se relaciona con el resto de columnas

- SameAsMonthlyIncome: equivale a MonthlyIncome

- Salary: tiene el mismo valor para todas las filas  

- RoleDepartament: tiene muchos valores faltantes, se relaciona con la columna Department pero no aporta información adicional

- NUMBERCHILDREN: está vacía

In [7]:
# Elimina columnas identificadas como innecesarias

df.drop(["employeecount","over18","salario","hijos", "años_puesto_actual", "rol_y_departamento", "recibe_mismo_salario"], axis = 1, inplace = True)

##### **Cambiamos el tipo de dato y modificamos los caracteres alfanuméricos de algunas columnas:**

###### **LETRA A NÚMERO:**

In [8]:
# Localizamos los valores en letra para generar diccionario a número
df["edad"].sort_values(ascending=False)

1198      twenty-six
1325     twenty-four
1584      thirty-two
1293      thirty-two
216       thirty-six
1226    thirty-seven
426       thirty-one
593           thirty
31       forty-seven
411        fifty-two
357       fifty-five
79       fifty-eight
1423              60
399               60
198               60
38                60
930               60
668               59
1206              59
405               59
727               59
1227              59
821               59
609               59
1265              59
6                 59
852               59
1459              58
1473              58
690               58
228               58
1258              58
166               58
152               58
1340              58
1336              58
1130              58
16                58
81                58
1348              58
1024              58
1298              57
883               57
157               57
677               57
1524              57
566               56
563               56
54                56
611               56
1140              56
1052              56
1591              56
319               56
11                56
1562              56
1009              56
172               56
348               56
835               56
1496              56
742               56
1457              56
1241              55
126               55
1136              55
1246              55
169               55
84                55
1063              55
994               55
940               55
146               55
1105              55
150               55
417               55
1476              55
586               55
1545              55
424               55
14                55
374               55
514               55
1600              55
302               55
1437              55
379               55
1151              54
692               54
610               54
712               54
893               54
423               54
371               54
1534              54
849               54
783               54
333               54
159               54
619               54
672               54
1576              54
1220              54
670               54
143               54
242               54
1300              54
134               53
1333              53
331               53
686               53
840               53
377               53
281               53
231               53
174               53
762               53
1574              53
32                53
394               53
1120              53
938               53
956               53
435               53
42                53
1149              53
1185              53
874               52
900               52
947               52
745               52
851               52
710               52
507               52
497               52
629               52
213               52
262               52
208               52
129               52
294               52
591               52
1                 52
26                52
1515              52
817               51
827               51
285               51
317               51
498               51
271               51
0                 51
151               51
1034              51
1560              51
1388              51
46                51
1362              51
1257              51
1178              51
99                51
1122              51
114               51
1039              51
1270              51
579               50
714               50
695               50
202               50
1165              50
671               50
1197              50
90                50
667               50
1266              50
608               50
71                50
570               50
64                50
536               50
239               50
513               50
500               50
1355              50
1365              50
1413              50
1482              50
375               50
707               50
931               50
839               50
824               50
808               50
1012              50
790               50
1027              50
72                49
57                49
1059              49
1065              49
1379              49
445               49
1100              49
217               49
516               49
429               49
130               49
1214              49
521               49
657               49
1096              49
1529              49
868               49
289               49
747               49
961               49
888               49
263               49
135               49
205               49
1179              49
928               48
446               48
1380              48
917               48
1341              48
1567              48
434               48
324               48
1382              48
5                 48
65                48
982               48
1056              48
1089              48
1074              48
153               48
612               48
1285              48
104               48
1239              48
1132              47
1101              47
342               47
1542              47
1585              47
23                47
3                 47
1517              47
933               47
1427              47
1086              47
92                47
299               47
636               47
261               47
1299              47
499               47
470               47
1351              47
599               47
1282              47
876               47
968               47
552               47
557               47
75                47
990               46
321               46
1124              46
1506              46
1564              46
518               46
738               46
846               46
509               46
370               46
905               46
620               46
487               46
450               46
1216              46
461               46
464               46
1289              46
815               46
1013              46
1503              46
906               46
912               46
297               46
1416              46
806               46
1486              46
427               46
1613              46
251               46
4                 46
51                46
35                46
108               46
17                46
138               46
180               46
44                46
638               45
1429              45
1540              45
110               45
187               45
20                45
526               45
1145              45
517               45
349               45
98                45
1504              45
1184              45
95                45
1497              45
1208              45
1242              45
1245              45
1268              45
462               45
254               45
367               45
442               45
438               45
437               45
1329              45
428               45
298               45
1389              45
1541              45
1610              45
117               45
1592              45
858               45
601               45
291               45
899               45
729               45
215               45
325               45
1568              45
572               45
792               45
728               45
121               45
724               45
236               45
1010              45
665               44
1397              44
789               44
448               44
407               44
443               44
819               44
436               44
769               44
1374              44
66                44
616               44
1058              44
67                44
954               44
1062              44
549               44
1104              44
1030              44
958               44
512               44
145               44
1275              44
932               44
505               44
147               44
921               44
486               44
1060              44
918               44
807               44
360               44
1603              44
1454              44
1125              43
330               43
419               43
895               43
896               43
53                43
463               43
1573              43
1337              43
36                43
935               43
573               43
965               43
1548              43
1552              43
1537              43
1536              43
1311              43
101               43
1505              43
1187              43
1498              43
456               43
1281              43
88                43
1360              43
1480              43
823               43
1436              43
736               43
47                43
406               43
663               43
305               43
403               43
309               43
165               43
168               43
387               43
642               43
1521              42
520               42
1509              42
739               42
880               42
2                 42
354               42
530               42
506               42
1189              42
720               42
715               42
490               42
680               42
467               42
1533              42
235               42
767               42
909               42
859               42
225               42
892               42
606               42
170               42
615               42
592               42
916               42
1597              42
580               42
7                 42
934               42
140               42
786               42
128               42
776               42
156               42
204               42
1387              42
268               42
1414              42
1378              42
1286              42
1354              42
420               42
1447              42
1441              42
1406              42
1283              42
1368              42
1460              42
1040              41
1563              41
743               41
558               41
1053              41
1110              41
655               41
344               41
1126              41
1420              41
659               41
1028              41
768               41
277               41
983               41
787               41
1587              41
185               41
8                 41
1375              41
1370              41
316               41
320               41
9                 41
583               41
10                41
1570              41
327               41
243               41
13                41
1604              41
1559              41
701               41
41                41
1255              41
1477              41
481               41
1264              41
85                41
495               41
1267              41
679               41
30                41
488               41
361               41
504               41
39                40
59                40
588               40
585               40
669               40
230               40
245               40
1327              40
936               40
1344              40
295               40
433               40
353               40
465               40
425               40
774               40
226               40
1349              40
637               40
186               40
793               40
623               40
1376              40
693               40
639               40
843               40
641               40
845               40
171               40
378               40
315               40
280               40
772               40
1209              40
259               40
494               40
1596              40
1466              40
1093              40
1088              40
1425              40
192               40
19                40
94                40
1069              40
68                40
391               40
1303              40
1201              40
1558              40
1191              40
1204              40
389               40
1507              40
1163              40
1031              40
1294              40
1033              40
653               40
15                40
1611              39
412               39
197               39
502               39
854               39
702               39
244               39
605               39
628               39
1467              39
515               39
240               39
173               39
613               39
503               39
1135              39
625               39
1396              39
368               39
1146              39
479               39
709               39
58                39
1025              39
1280              39
489               39
971               39
258               39
1405              39
484               39
120               39
337               39
1232              39
1458              39
1478              39
1218              39
118               39
149               39
771               39
86                39
646               39
1087              39
440               39
1580              39
388               39
756               38
716               38
45                38
761               38
195               38
1421              38
723               38
73                38
785               38
1215              38
1312              38
103               38
1306              38
1147              38
1150              38
1474              38
1296              38
1194              38
678               38
1595              38
87                38
82                38
1485              38
1274              38
1262              38
1263              38
76                38
1479              38
1129              38
1319              38
1076              38
1073              38
802               38
829               38
836               38
1582              38
866               38
1367              38
50                38
1357              38
56                38
1577              38
12                38
963               38
137               38
989               38
1462              38
1037              38
1322              38
1435              38
296               38
385               38
288               38
334               38
414               38
483               38
266               38
651               38
666               38
339               38
644               38
352               38
508               38
238               38
1440              37
763               37
645               37
1176              37
1493              37
1250              37
578               37
870               37
553               37
758               37
584               37
191               37
190               37
1045              37
778               37
773               37
61                37
820               37
814               37
524               37
1309              37
1318              37
1123              37
532               37
626               37
1331              37
77                37
1334              37
1269              37
533               37
1356              37
534               37
1363              37
1237              37
48                37
730               37
878               37
1575              37
1006              37
1561              37
234               37
220               37
332               37
287               37
713               37
1192              37
674               37
318               37
313               37
1519              37
1556              37
865               37
604               37
1103              36
791               36
631               36
1278              36
247               36
1160              36
1358              36
826               36
267               36
415               36
700               36
1287              36
1612              36
1098              36
1095              36
630               36
449               36
889               36
1276              36
602               36
1593              36
1141              36
525               36
1598              36
1589              36
973               36
1112              36
1170              36
60                36
1609              36
139               36
951               36
55                36
658               36
1221              36
410               36
273               36
1244              36
43                36
1167              36
24                36
1444              36
350               36
37                36
1243              36
27                36
124               36
167               36
369               36
366               36
662               36
212               36
125               36
355               36
1175              36
924               36
1050              36
22                36
193               36
480               36
283               36
401               36
647               36
1084              36
1079              36
1253              36
346               36
210               36
1070              36
760               36
97                36
1530              36
1412              36
397               36
501               35
1180              35
510               35
451               35
1164              35
559               35
233               35
974               35
980               35
949               35
985               35
136               35
944               35
1002              35
1008              35
562               35
1015              35
1020              35
127               35
1036              35
1155              35
1046              35
543               35
542               35
915               35
1077              35
91                35
116               35
594               35
1090              35
596               35
1138              35
162               35
163               35
93                35
959               35
492               35
809               35
1317              35
1321              35
794               35
52                35
416               35
780               35
649               35
1399              35
395               35
1408              35
1409              35
755               35
393               35
1415              35
382               35
652               35
1469              35
33                35
1489              35
1495              35
1500              35
1501              35
25                35
1543              35
18                35
1566              35
323               35
292               35
300               35
183               35
1371              35
1261              35
70                35
477               35
841               35
1238              35
614               35
1240              35
813               35
62                35
458               35
257               35
812               35
459               35
177               35
1234              35
1470              34
131               34
34                34
80                34
1490              34
1018              34
29                34
102               34
1252              34
1003              34
1531              34
1535              34
997               34
482               34
336               34
1217              34
328               34
1571              34
485               34
1579              34
1195              34
1196              34
1186              34
1057              34
1430              34
471               34
1139              34
1143              34
105               34
439               34
1323              34
1339              34
1121              34
418               34
100               34
1366              34
113               34
255               34
413               34
249               34
115               34
537               34
1383              34
272               34
1080              34
232               34
69                34
1075              34
241               34

In [9]:
# Creamos un diccionario para pasar las edades en letra a número

numeros_en_letras = {
    'fifty-eight': 58,
    'fifty-five': 55,
    'fifty-two': 52,
    'forty-seven': 47,
    'thirty': 30,
    'thirty-one': 31,
    'thirty-seven': 37,
    'thirty-six': 36,
    'thirty-two': 32,
    'twenty-four': 24,
    'twenty-six': 26
}

In [10]:
# Aplicamos el diccionario a la columna "edad" del df

df["edad"] = df["edad"].replace(numeros_en_letras)

###### **QUITAR SÍMBOLOS Y PASAR A FLOAT:**

In [11]:
# Lista con las columnas a aplicar e iteración para aplicar a cada una. 
# Son tipo object

lista_float = ['tarifa_diaria', 'ingreso_mensual']

# Generamos función para quitar errores de puntuación y cambiar a float

def pasar_a_float (columna):
        try: 
                return float(columna.replace("$", "").replace(".", "").replace(",", ".").strip())
        except: 
               return np.nan

In [12]:
# Iteramos la función sobre la lista con las columnas a pasar de object a float

for i in lista_float:
    df[i] = df[i].apply(pasar_a_float)

In [13]:
# Comprobamos que el resultado es correcto

df[lista_float].dtypes

tarifa_diaria      float64
ingreso_mensual    float64
dtype: object

###### **LETRA A NULO:**

In [14]:
#Cambiamos los 84 "Not Available" por nulos para poder gestionarlos como tal y cambiar la columna a numérica. 
 
df['tarifa_hora']=df['tarifa_hora'].replace("Not Available", None)
df['tarifa_hora']=df['tarifa_hora'].astype(float)
df['tarifa_hora'].isnull().sum()

84

In [15]:
# Comprobamos que el cambio se ha realizado correctamente

df['tarifa_hora'].dtype

dtype('float64')

###### **NEGATIVOS A POSITIVOS:**

In [16]:
# Pasamos los números a positivo usando el valor absoluto de la columna "distancia_domicilio".
#  A continuación lo cambiamos a float, pasamos el dato de millas a km y redondeamos a 2 decimales. 

df["distancia_domicilio"] = ((df["distancia_domicilio"].abs().astype(float))*1.60934).round(2)

In [17]:
# Segunda opción para pasar a positivo antes de recordar que teníamos opción de sacar el valor absoluto

df.loc[df['distancia_domicilio'] < 0, 'distancia_domicilio'] = df.loc[df['distancia_domicilio'] < 0, 'distancia_domicilio'] * -1
df['distancia_domicilio']= df['distancia_domicilio'].astype(float)
df['distancia_domicilio']= df['distancia_domicilio']*1.60934
df['distancia_domicilio'] = df['distancia_domicilio'].round(2)

In [18]:
# Comprobamos que el cambio se ha realizado correctamente

df['distancia_domicilio'].dtype

dtype('float64')

###### **MAYÚSCULAS A MINÚSCULAS:**

In [19]:
# Pasamos 2 columnas con contenido de texto mezclado a minúsculas

lista_minusculas= ['departamento','puesto']
for i in lista_minusculas:
    df[i] = df[i].str.lower().str.strip()

df[lista_minusculas]

                departamento                     puesto
0                        NaN          research director
1                        NaN                    manager
2     research & development                    manager
3                        NaN          research director
4                        NaN            sales executive
5     research & development                    manager
6                        NaN            sales executive
7                        NaN            sales executive
8                        NaN                    manager
9                        NaN          research director
10                       NaN          research director
11                       NaN     manufacturing director
12                       NaN          research director
13                       NaN          research director
14                       NaN          research director
15                       NaN                    manager
16                       NaN          research director
17                       NaN                    manager
18                       NaN         research scientist
19                       NaN     manufacturing director
20    research & development  healthcare representative
21                       NaN          research director
22                       NaN  healthcare representative
23                       NaN                    manager
24                       NaN            sales executive
25                       NaN     manufacturing director
26                       NaN                    manager
27                       NaN     manufacturing director
28                       NaN      laboratory technician
29                     sales            sales executive
30                     sales            sales executive
31    research & development  healthcare representative
32                       NaN                    manager
33                       NaN            sales executive
34                       NaN         research scientist
35                       NaN            sales executive
36                       NaN                    manager
37    research & development      laboratory technician
38                       NaN            sales executive
39                       NaN            sales executive
40                       NaN     manufacturing director
41                       NaN      laboratory technician
42                       NaN                    manager
43                       NaN      laboratory technician
44                       NaN         research scientist
45                       NaN            sales executive
46                       NaN  healthcare representative
47                       NaN                    manager
48                       NaN         research scientist
49                       NaN            sales executive
50                       NaN          research director
51                       NaN                    manager
52                       NaN            sales executive
53                       NaN                    manager
54                       NaN  healthcare representative
55                       NaN            sales executive
56                       NaN         research scientist
57                       NaN     manufacturing director
58                       NaN            sales executive
59                       NaN            sales executive
60                       NaN      laboratory technician
61                       NaN         research scientist
62                       NaN         research scientist
63                       NaN  healthcare representative
64    research & development     manufacturing director
65                       NaN  healthcare representative
66                     sales            sales executive
67                       NaN         research scientist
68                       NaN  healthcare representative
69                       NaN  healthcare representative
70    research & development  healthcare representative
71                       NaN          research director
72                       NaN  healthcare representative
73                       NaN         research scientist
74                       NaN      laboratory technician
75                       NaN     manufacturing director
76    research & development         research scientist
77                       NaN          research director
78                       NaN  healthcare representative
79                       NaN            sales executive
80                       NaN                    manager
81                       NaN  healthcare representative
82                       NaN            sales executive
83                       NaN            sales executive
84                       NaN                    manager
85                       NaN                    manager
86    research & development  healthcare representative
87                       NaN          research director
88                       NaN          research director
89                       NaN     manufacturing director
90    research & development                    manager
91                       NaN     manufacturing director
92                       NaN     manufacturing director
93    research & development  healthcare representative
94                       NaN  healthcare representative
95                     sales            sales executive
96    research & development         research scientist
97                       NaN         research scientist
98                       NaN                    manager
99                       NaN                    manager
100                      NaN       sales representative
101   research & development          research director
102                      NaN      laboratory technician
103                      NaN            human resources
104                      NaN          research director
105   research & development         research scientist
106                      NaN            sales executive
107                      NaN     manufacturing director
108                      NaN  healthcare representative
109          human resources            human resources
110                      NaN      laboratory technician
111                      NaN            sales executive
112                      NaN      laboratory technician
113                      NaN     manufacturing director
114                      NaN          research director
115                      NaN     manufacturing director
116                      NaN            sales executive
117                      NaN      laboratory technician
118                      NaN                    manager
119                      NaN     manufacturing director
120   research & development                    manager
121                      NaN         research scientist
122                    sales            sales executive
123                      NaN     manufacturing director
124                      NaN            sales executive
125                      NaN            sales executive
126                      NaN                    manager
127                      NaN            sales executive
128                      NaN     manufacturing director
129                      NaN         research scientist
130                      NaN          research director
131   research & development         research scientist
132                      NaN         research scientist
133   research & development          research director
134                      NaN          research director
135                      NaN      laboratory technician
136                      NaN            sales executive
137                      NaN  healthcare representative
138                    sales                    manager
139                      NaN     manufacturing director
140                      NaN            sales executive
141                      NaN  healthcare representative
142   research & development         research scientist
143                      NaN          research director
144                      NaN  healthcare representative
145                      NaN                    manager
146                      NaN  healthcare representative
147                      NaN                    manager
148          human resources            human resources
149                      NaN                    manager
150                      NaN                    manager
151                      NaN                    manager
152                      NaN     manufacturing director
153                      NaN     manufacturing director
154          human resources            human resources
155                      NaN            sales executive
156                      NaN      laboratory technician
157                      NaN         research scientist
158                      NaN            sales executive
159                      NaN                    manager
160                      NaN            sales executive
161                      NaN      laboratory technician
162                      NaN      laboratory technician
163                      NaN            sales executive
164                      NaN         research scientist
165                      NaN            sales executive
166                      NaN                    manager
167                    sales            sales executive
168                      NaN  healthcare representative
169                      NaN                    manager
170   research & development         research scientist
171                      NaN      laboratory technician
172   research & development      laboratory technician
173                      NaN            sales executive
174                      NaN                    manager
175                      NaN            sales executive
176                      NaN      laboratory technician
177                      NaN            sales executive
178   research & development     manufacturing director
179                      NaN      laboratory technician
180                    sales            sales executive
181                      NaN            sales executive
182                      NaN            sales executive
183                      NaN            sales executive
184                      NaN            sales executive
185   research & development         research scientist
186                      NaN                    manager
187                      NaN                    manager
188                      NaN            sales executive
189   research & development     manufacturing director
190                      NaN          research director
191                      NaN       sales representative
192                      NaN         research scientist
193                      NaN      laboratory technician
194                      NaN            sales executive
195                      NaN          research director
196                      NaN         research scientist
197                      NaN                    manager
198                      NaN                    manager
199                      NaN            sales executive
200   research & development     manufacturing director
201                      NaN         research scientist
202                      NaN      laboratory technician
203   research & development      laboratory technician
204                      NaN     manufacturing director
205                    sales            sales executive
206                      NaN          research director
207                      NaN            sales executive
208   research & development     manufacturing director
209                      NaN            sales executive
210                      NaN  healthcare representative
211                    sales            sales executive
212                      NaN      laboratory technician
213                      NaN                    manager
214                      NaN                    manager
215                      NaN      laboratory technician
216   research & development     manufacturing director
217                      NaN            sales executive
218                      NaN            sales executive
219                      NaN      laboratory technician
220   research & development     manufacturing director
221                      NaN            sales executive
222                      NaN      laboratory technician
223                      NaN      laboratory technician
224                      NaN            sales executive
225                      NaN                    manager
226                      NaN         research scientist
227                      NaN            sales executive
228                      NaN          research director
229                      NaN     manufacturing director
230                      NaN          research director
231                      NaN          research director
232   research & development          research director
233                      NaN  healthcare representative
234                      NaN         research scientist
235                      NaN  healthcare representative
236                      NaN  healthcare representative
237                      NaN            sales executive
238                      NaN            sales executive
239                      NaN  healthcare representative
240                      NaN      laboratory technician
241                      NaN         research scientist
242   research & development                    manager
243                      NaN            sales executive
244                      NaN      laboratory technician
245                      NaN                    manager
246                      NaN         research scientist
247                      NaN  healthcare representative
248                      NaN         research scientist
249                      NaN            sales executive
250   research & development      laboratory technician
251                      NaN     manufacturing director
252                      NaN       sales representative
253                      NaN      laboratory technician
254   research & development     manufacturing director
255                      NaN            sales executive
256   research & development         research scientist
257                      NaN            sales executive
258                      NaN            sales executive
259                      NaN            sales executive
260                      NaN      laboratory technician
261   research & development          research director
262                      NaN       sales representative
263                      NaN         research scientist
264                      NaN         research scientist
265                      NaN      laboratory technician
266   research & development     manufacturing director
267   research & development  healthcare representative
268                      NaN            sales executive
269   research & development      laboratory technician
270                      NaN     manufacturing director
271                      NaN            sales executive
272                      NaN      laboratory technician
273                      NaN            sales executive
274                      NaN         research scientist
275                      NaN            sales executive
276                      NaN            sales executive
277                      NaN            sales executive
278                      NaN            human resources
279                      NaN            sales executive
280                      NaN         research scientist
281                    sales       sales representative
282   research & development     manufacturing director
283   research & development      laboratory technician
284   research & development         research scientist
285                      NaN  healthcare representative
286                      NaN         research scientist
287                      NaN         research scientist
288                      NaN     manufacturing director
289                      NaN     manufacturing director
290                      NaN            sales executive
291                    sales            sales executive
292                      NaN            sales executive
293                      NaN      laboratory technician
294                      NaN                    manager
295   research & development          research director
296                    sales            sales executive
297                      NaN                    manager
298                      NaN  healthcare representative
299                      NaN                    manager
300                      NaN                    manager
301                      NaN            sales executive
302   research & development      laboratory technician
303                      NaN            sales executive
304                      NaN            sales executive
305                      NaN      laboratory technician
306                      NaN            sales executive
307                      NaN         research scientist
308                      NaN            sales executive
309   research & development      laboratory technician
310                      NaN      laboratory technician
311                    sales            sales executive
312                      NaN            sales executive
313                      NaN         research scientist
314                      NaN            sales executive
315                      NaN      laboratory technician
316                      NaN            sales executive
317                      NaN            sales executive
318                      NaN      laboratory technician
319                      NaN            sales executive
320                    sales            sales executive
321                      NaN     manufacturing director
322                      NaN      laboratory technician
323                      NaN  healthcare representative
324                      NaN            sales executive
325                      NaN            sales executive
326                      NaN            human resources
327                      NaN  healthcare representative
328                      NaN            sales executive
329                      NaN            sales executive
330                      NaN      laboratory technician
331                    sales            sales executive
332                      NaN     manufacturing director
333                      NaN            human resources
334                    sales            sales executive
335   research & development         research scientist
336                      NaN  healthcare representative
337                      NaN  healthcare representative
338                      NaN            sales executive
339                      NaN  healthcare representative
340                      NaN     manufacturing director
341                      NaN          research director
342                      NaN            sales executive
343                      NaN     manufacturing director
344                      NaN                    manager
345   research & development         research scientist
346   research & development          research director
347                      NaN            sales executive
348                      NaN  healthcare representative
349                      NaN       sales representative
350                      NaN            sales executive
351                      NaN  healthcare representative
352                      NaN     manufacturing director
353                      NaN  healthcare representative
354                      NaN                    manager
355                      NaN     manufacturing director

###### **OBJECT A INT:**

In [20]:
# Estas columnas están en tipo object y las necesitamos numéricas: 

lista_int = ['años_en_activo', 'evaluacion_desempeño', 'nivel_satisfaccion_conciliacion', 'numero_empleado']

# Creamos esta función para pasar las columnas a int sustituyendo el ,0

def pasar_a_int(valor):
    try:
        if isinstance(valor, str):
            valor = valor.replace(",0", "")
        return int(float(valor))  # por si viene como '3,0' o 3.0
    except:
        return np.nan

In [21]:
# Iteramos por la lista para aplicar la función: 

for col in lista_int:
    df[col] = df[col].apply(pasar_a_int).astype("Int64")

In [22]:
# Comprobamos el resultado

df[lista_int]

,años_en_activo,evaluacion_desempeño,nivel_satisfaccion_conciliacion,numero_empleado
0,<NA>,3,3,162
1,34,3,3,259
2,22,3,<NA>,319
3,<NA>,3,<NA>,<NA>
4,<NA>,3,3,<NA>
5,<NA>,3,3,1900
6,28,3,2,81
7,20,4,3,387
8,22,3,3,<NA>
9,21,3,4,999
10,<NA>,4,3,1035
11,33,<NA>,3,<NA>
12,<NA>,3,3,<NA>
13,<NA>,3,3,58
14,<NA>,3,3,<NA>
15,<NA>,3,3,558
16,40,3,3,825
17,28,4,3,<NA>
18,<NA>,3,3,<NA>
19,18,3,<NA>,<NA>
20,25,4,2,1712
21,15,3,3,73
22,17,<NA>,3,<NA>
23,<NA>,3,2,820
24,18,3,<NA>,<NA>
25,17,4,3,<NA>
26,33,3,3,<NA>
27,18,3,3,1294
28,15,3,3,<NA>
29,15,3,3,1774
30,<NA>,3,4,1815
31,25,4,3,1993
32,26,3,2,32
33,16,<NA>,3,100
34,16,3,3,<NA>
35,24,4,3,244
36,22,4,3,327
37,16,3,3,373
38,22,3,4,<NA>
39,20,4,3,729
40,14,3,3,830
41,20,<NA>,3,<NA>
42,22,3,4,981
43,18,3,3,1042
44,<NA>,4,3,1080
45,16,3,<NA>,1995
46,23,4,2,145
47,25,3,4,158
48,<NA>,3,3,391
49,<NA>,3,3,436
50,15,3,3,<NA>
51,23,3,4,1527
52,15,3,<NA>,<NA>
53,21,3,3,1866
54,<NA>,<NA>,2,2026
55,<NA>,4,2,<NA>
56,17,3,3,107
57,16,3,2,170
58,17,3,4,<NA>
59,15,<NA>,2,215
60,16,3,4,304
61,15,3,3,529
62,<NA>,3,3,691
63,15,4,1,692
64,22,3,3,1005
65,27,<NA>,3,1024
66,<NA>,3,3,1039
67,<NA>,4,3,1225
68,15,4,3,1375
69,14,3,4,<NA>
70,<NA>,3,3,<NA>
71,<NA>,3,3,<NA>
72,<NA>,3,3,1661
73,19,3,<NA>,1668
74,14,3,<NA>,1698
75,<NA>,<NA>,3,<NA>
76,20,3,3,1937
77,16,4,3,2017
78,11,<NA>,3,117
79,38,3,2,131
80,14,3,3,153
81,40,3,2,<NA>
82,<NA>,3,2,307
83,11,3,3,<NA>
84,37,3,3,374
85,<NA>,3,3,<NA>
86,19,<NA>,2,<NA>
87,<NA>,3,3,<NA>
88,<NA>,3,<NA>,<NA>
89,13,3,1,524
90,28,3,3,569
91,<NA>,<NA>,3,899
92,20,3,<NA>,<NA>
93,<NA>,<NA>,2,1014
94,14,4,3,<NA>
95,15,3,3,1117
96,15,3,3,1238
97,12,3,2,<NA>
98,26,3,3,1277
99,<NA>,<NA>,2,<NA>
100,12,4,3,1541
101,<NA>,4,3,1666
102,<NA>,3,<NA>,1696
103,13,3,3,1805
104,29,3,3,<NA>
105,16,3,3,1932
106,14,3,3,2016
107,10,3,3,20
108,21,3,2,<NA>
109,<NA>,3,1,184
110,20,3,<NA>,206
111,<NA>,3,3,228
112,12,<NA>,3,239
113,10,3,2,256
114,16,3,1,<NA>
115,13,3,3,339
116,12,3,2,406
117,24,3,3,<NA>
118,21,<NA>,3,429
119,10,4,3,<NA>
120,<NA>,3,3,444
121,12,3,3,452
122,10,3,3,456
123,11,3,2,<NA>
124,16,3,3,481
125,10,3,3,513
126,37,4,3,597
127,15,3,3,600
128,10,4,2,<NA>
129,18,<NA>,3,630
130,<NA>,3,3,638
131,<NA>,3,2,683
132,10,3,2,780
133,<NA>,3,4,817
134,33,3,3,901
135,29,3,2,944
136,<NA>,3,3,984
137,20,3,2,1088
138,<NA>,3,3,1124
139,18,4,3,<NA>
140,<NA>,<NA>,2,1167
141,14,4,3,1184
142,12,4,3,<NA>
143,36,3,3,<NA>
144,10,<NA>,3,1252
145,26,3,3,1267
146,<NA>,3,3,1278
147,<NA>,3,2,1288
148,14,3,4,<NA>
149,<NA>,3,3,1307
150,23,<NA>,3,1336
151,<NA>,3,3,1352
152,<NA>,3,2,1360
153,11,3,3,<NA>
154,<NA>,3,2,1419
155,15,<NA>,3,1478
156,12,3,3,1480
157,13,4,2,<NA>
158,16,4,4,1489
159,26,<NA>,3,1520
160,<NA>,3,3,1535
161,<NA>,3,<NA>,1586
162,<NA>,<NA>,2,1596
163,13,4,4,1667
164,10,3,3,1701
165,10,3,3,1706
166,37,4,2,<NA>
167,10,3,3,<NA>
168,10,3,3,1971
169,35,3,3,<NA>
170,20,3,3,1976
171,10,<NA>,4,1985
172,14,3,1,2032
173,<NA>,3,2,2056
174,<NA>,3,3,<NA>
175,9,3,3,<NA>
176,12,4,<NA>,57
177,9,4,2,<NA>
178,9,4,3,78
179,<NA>,3,<NA>,104
180,9,3,3,118
181,11,3,2,121
182,12,3,3,125
183,<NA>,3,3,<NA>
184,9,3,3,207
185,<NA>,3,3,227
186,21,3,3,253
187,22,4,3,264
188,14,3,2,291
189,<NA>,4,3,292
190,<NA>,3,3,306
191,13,3,3,<NA>
192,<NA>,3,3,335
193,11,3,3,<NA>
194,13,3,2,420
195,<NA>,3,3,421
196,11,3,3,441
197,21,3,3,531
198,33,3,1,549
199,10,3,3,567
200,<NA>,4,4,581
201,<NA>,3,3,702
202,20,<NA>,3,716
203,10,<NA>,3,772
204,10,3,2,836
205,<NA>,3,4,840
206,<NA>,3,3,844
207,9,<NA>,3,<NA>
208,31,4,3,867
209,10,3,3,889
210,<NA>,3,2,924
211,<NA>,3,2,<NA>
212,<NA>,4,3,<NA>
213,26,3,<NA>,976
214,10,3,3,992
215,9,3,3,1002
216,15,3,2,1073
217,22,3,3,1138
218,11,<NA>,1,<NA>
219,<NA>,3,3,1192
220,14,3,2,1196
221,<NA>,3,3,<NA>
222,15,3,4,<NA>
223,10,3,3,1315
224,10,3,2,1324
225,21,<NA>,2,1334
226,9,3,3,1346
227,<NA>,3,4,1356
228,<NA>,4,3,1423
229,<NA>,3,3,1459
230,16,3,3,<NA>
231,35,3,2,1472
232,16,3,2,1485
233,<NA>,3,1,<NA>
234,<NA>,3,3,1543
235,24,3,1,1547
236,<NA>,3,3,1553
237,<NA>,3,3,1562
238,10,3,3,1582
239,32,3,3,1606
240,<NA>,3,<NA>,<NA>
241,11,3,3,1658
242,36,4,3,1665
243,<NA>,3,3,<NA>
244,<NA>,3,3,1737
245,<NA>,3,2,<NA>
246,11,<NA>,2,<NA>
247,15,3,3,1790
248,14,3,3,<NA>
249,10,4,3,1823
250,<NA>,<NA>,4,<NA>
251,12,3,2,1857
252,<NA>,4,3,1864
253,10,3,3,1881
254,10,<NA>,2,1888
255,14,4,2,1950
256,10,<NA>,3,<NA>
257,10,3,3,1962
258,21,3,3,1975
259,<NA>,3,3,1986
260,12,3,2,<NA>
261,14,3,1,2000
262,16,3,<NA>,<NA>
263,10,4,3,2
264,<NA>,3,3,5
265,8,3,2,<NA>
266,<NA>,4,3,<NA>
267,17,3,2,<NA>
268,10,<NA>,3,35
269,<NA>,4,2,76
270,11,4,3,98
271,11,4,1,120
272,9,4,<NA>,147
273,10,3,3,154
274,<NA>,4,2,159
275,<NA>,3,4,160
276,<NA>,3,2,163
277,<NA>,3,3,176
278,8,4,3,177
279,<NA>,3,4,195
280,20,3,3,202
281,13,4,1,205
282,10,3,3,<NA>
283,13,<NA>,2,<NA>
284,8,3,3,252
285,<NA>,3,3,258
286,<NA>,3,2,260
287,<NA>,3,2,267
288,9,3,1,<NA>
289,7,3,3,275
290,7,3,3,293
291,23,3,3,302
292,10,3,4,314
293,13,<NA>,4,<NA>
294,33,3,4,329
295,<NA>,3,3,<NA>
296,13,3,3,361
297,28,3,2,363
298,21,3,3,<NA>
299,<NA>,3,2,376
300,10,<NA>,2,381
301,<NA>,3,<NA>,388
302,12,<NA>,3,389
303,<NA>,3,<NA>,401
304,10,3,2,416
305,<NA>,3,3,430
306,13,3,3,438
307,<NA>,3,2,<NA>
308,<NA>,3,2,446
309,9,<NA>,4,448
310,7,3,2,454
311,8,3,3,458
312,7,3,3,<NA>
313,13,3,3,<NA>
314,<NA>,3,3,476
315,<NA>,3,3,483
316,8,3,3,488
317,18,3,2,500
318,<NA>,3,2,<NA>
319,36,3,2,<NA>
320,10,3,3,534
321,19,3,2,<NA>
322,12,3,2,<NA>
323,10,3,3,586
324,14,3,3,595
325,<NA>,3,4,<NA>
326,8,3,<NA>,608
327,10,3,3,616
328,10,3,3,621
329,13,4,4,653
330,10,3,3,663
331,18,4,4,682
332,<NA>,<NA>,3,<NA>
333,16,<NA>,4,<NA>
334,<NA>,<NA>,3,<NA>
335,10,3,3,710
336,9,3,4,717
337,20,3,3,721
338,10,3,2,722
339,10,3,<NA>,724
340,9,3,3,725
341,10,3,3,<NA>
342,20,3,3,728
343,9,4,2,733
344,22,<NA>,3,734
345,10,3,3,<NA>
346,10,3,3,742
347,10,<NA>,2,747
348,30,3,2,762
349,9,3,3,783
350,10,3,3,789
351,11,3,2,793
352,17,3,3,803
353,8,4,3,<NA>
354,24,3,2,809
355,<NA>,3,3,823
356,10,4,3,<NA>
357,<NA>,3,2,842
358,8,4,3,<NA>
359,8,3,3,<NA>
360,8,3,3,913
361,<NA>,3,2,927
362,<NA>,<NA>,4,941
363,<NA>,3,3,956
364,10,3,1,<NA>
365,8,3,4,966
366,<NA>,<NA>,3,967
367,<NA>,3,2,972
368,9,3,3,<NA>
369,12,<NA>,3,990
370,<NA>,3,3,<NA>
371,22,<NA>,3,1013
372,<NA>,3,2,1015
373,<NA>,3,3,1018
374,<NA>,3,3,1034
375,<NA>,3,3,<NA>
376,10,3,3,1046
377,30,3,<NA>,1050
378,8,3,2,<NA>
379,<NA>,3,4,1074
380,10,3,2,1082
381,<NA>,3,4,1097
382,9,4,3,1100
383,14,4,3,1101
384,7,<NA>,4,1106
385,9,3,<NA>,1119
386,<NA>,3,2,<NA>
387,18,3,3,1126
388,21,3,3,<NA>
389,<NA>,<NA>,<NA>,1128
390,10,3,2,<NA>
391,20,3,2,<NA>
392,8,4,3,1177
393,15,3,4,1182
394,26,3,3,1201
395,15,3,3,1218
396,<NA>,3,2,1220
397,<NA>,3,3,<NA>
398,<NA>,<NA>,2,1224
399,12,3,3,<NA>
400,10,3,3,1235
401,17,4,3,1237
402,<NA>,3,2,<NA>
403,<NA>,3,3,1255
404,9,3,2,1264
405,<NA>,3,2,1283
406,23,3,4,1293
407,<NA>,3,3,1295
408,10,3,3,<NA>
409,<NA>,3,4,<NA>
410,<NA>,3,3,<NA>
411,<NA>,3,2,<NA>
412,<NA>,3,<NA>,1322
413,10,<NA>,2,1344
414,11,3,3,1355
415,<NA>,3,2,1362
416,10,3,3,1369
417,<NA>,3,2,<NA>
418,10,3,3,1377
419,20,3,1,1402
420,21,3,3,1408
421,8,3,3,1417
422,<NA>,3,3,1421
423,29,3,2,1422
424,31,3,4,1424
425,11,3,<NA>,<NA>
426,13,<NA>,3,<NA>
427,28,3,4,1457
428,<NA>,3,3,1460
429,29,3,3,1484
430,10,3,3,1497
431,<NA>,3,1,1522
432,9,3,3,1544
433,21,4,3,<NA>
434,18,3,<NA>,<NA>
435,<NA>,3,3,1572
436,<NA>,<NA>,2,1608
437,10,3,3,1611
438,10,<NA>,<NA>,1612
439,9,3,<NA>,1615
440,<NA>,3,3,<NA>
441,7,3,3,1619
442,10,3,3,1635
443,14,3,3,1642
444,7,3,3,1653
445,23,3,3,<NA>
446,19,<NA>,3,1691
447,7,4,3,1693
448,<NA>,<NA>,3,1703
449,17,<NA>,2,<NA>
450,19,3,3,1727
451,17,3,3,1728
452,10,3,<NA>,1745
453,<NA>,3,3,1754
454,13,3,2,1756
455,12,3,3,1764
456,<NA>,3,3,1778
457,<NA>,3,3,<NA>
458,<NA>,3,3,1797
459,15,3,3,1804
460,9,3,3,1816
461,13,4,4,1821
462,10,4,4,<NA>
463,7,4,3,1849
464,14,4,3,1869
465,22,3,<NA>,<NA>
466,9,3,2,1898
467,18,3,4,1911
468,8,3,3,<NA>
469,7,3,3,1927
470,<NA>,3,4,1934
471,9,3,2,1951
472,8,3,<NA>,1952
473,<NA>,3,<NA>,1965
474,10,3,3,1967
475,9,<NA>,3,<NA>
476,13,4,4,1979
477,10,3,3,2008
478,<NA>,<NA>,3,2009
479,<NA>,<NA>,3,2014
480,10,3,3,<NA>
481,21,<NA>,3,2034
482,8,4,3,2035
483,10,3,3,<NA>
484,<NA>,3,3,2062
485,<NA>,<NA>,3,28
486,24,<NA>,3,<NA>
487,14,<NA>,3,62
488,<NA>,3,2,199
489,20,4,3,343
490,10,3,3,351
491,12,<NA>,3,428
492,17,3,3,464
493,15,3,4,<NA>
494,22,3,3,<NA>
495,23,3,2,731
496,<NA>,3,1,764
497,<NA>,3,4,<NA>
498,<NA>,3,2,851
499,8,4,3,903
500,31,3,3,905
501,10,4,1,942
502,<NA>,3,3,1026
503,<NA>,3,3,<NA>
504,<NA>,3,3,1085
505,24,<NA>,3,<NA>
506,23,3,3,1109
507,18,3,<NA>,1118
508,7,3,4,1152
509,10,3,4,<NA>
510,<NA>,3,3,1350
511,8,<NA>,2,1514
512,<NA>,3,4,1523
513,<NA>,3,3,1539
514,36,4,3,<NA>
515,11,3,3,1588
516,10,3,2,1617
517,21,<NA>,3,1719
518,<NA>,3,2,<NA>
519,<NA>,3,<NA>,1870
520,24,3,2,2031
521,17,3,2,2065
522,10,3,3,15
523,<NA>,4,3,60
524,<NA>,3,<NA>,<NA>
525,6,3,3,85
526,9,3,2,<NA>
527,6,3,3,346
528,6,4,1,384
529,<NA>,3,3,498
530,7,3,4,551
531,10,3,4,604
532,<NA>,3,4,<NA>
533,9,3,3,626
534,8,3,2,<NA>
535,<NA>,3,3,<NA>
536,<NA>,3,3,644
537,6,3,3,649
538,<NA>,<NA>,3,714
539,6,4,2,781
540,6,4,3,<NA>
541,6,<NA>,3,804
542,17,4,4,<NA>
543,6,3,2,856
544,<NA>,3,3,998
545,11,4,3,1120
546,8,3,2,1143
547,<NA>,4,2,<NA>
548,6,3,3,<NA>
549,10,3,3,<NA>
550,6,<NA>,2,1251
551,<NA>,4,2,<NA>
552,17,3,2,1438
553,7,3,1,<NA>
554,9,3,2,1574
555,10,3,2,1671
556,7,4,3,<NA>
557,25,<NA>,1,<NA>
558,8,3,1,<NA>
559,6,3,3,<NA>
560,<NA>,4,3,94
561,10,3,3,<NA>
562,6,3,3,<NA>
563,37,3,2,112
564,5,3,4,129
565,<NA>,3,3,142
566,7,3,3,161
567,5,3,2,164
568,<NA>,4,4,190
569,<NA>,3,2,194
570,<NA>,3,3,226
571,8,4,<NA>,231
572,9,3,4,240
573,7,3,4,262
574,10,4,2,283
575,6,3,3,308
576,8,3,1,325
577,<NA>,3,4,355
578,<NA>,3,4,378
579,28,3,2,<NA>
580,<NA>,3,<NA>,<NA>
581,5,3,3,<NA>
582,<NA>,3,<NA>,449
583,<NA>,3,3,466
584,<NA>,4,3,486
585,8,3,3,492
586,<NA>,3,3,505
587,<NA>,4,3,510
588,<NA>,3,3,<NA>
589,5,3,3,527
590,<NA>,<NA>,3,<NA>
591,<NA>,<NA>,3,<NA>
592,19,3,3,547
593,11,4,3,548
594,<NA>,3,3,577
595,10,4,2,<NA>
596,5,3,3,<NA>
597,7,3,3,<NA>
598,6,3,<NA>,679
599,8,3,3,785
600,10,3,2,861
601,18,3,3,864
602,<NA>,4,3,878
603,<NA>,3,3,895
604,<NA>,3,3,900
605,13,3,3,<NA>
606,<NA>,3,3,936
607,<NA>,3,4,<NA>
608,32,<NA>,2,997
609,14,3,1,1048
610,13,3,3,<NA>
611,18,3,3,1071
612,<NA>,<NA>,2,1116
613,9,3,2,1132
614,6,3,1,<NA>
615,<NA>,3,<NA>,1171
616,6,3,3,1200
617,6,<NA>,2,1202
618,5,3,3,<NA>
619,33,3,1,1245
620,<NA>,3,3,1280
621,10,<NA>,3,<NA>
622,<NA>,3,3,1309
623,9,3,3,<NA>
624,5,4,3,1374
625,8,3,4,1390
626,8,3,3,<NA>
627,8,3,4,1395
628,13,4,3,1397
629,12,<NA>,1,1409
630,15,3,3,1425
631,10,3,2,1435
632,<NA>,3,3,1445
633,7,3,2,<NA>
634,<NA>,3,3,1469
635,8,3,3,<NA>
636,<NA>,3,2,1503
637,15,3,1,1534
638,<NA>,4,3,1546
639,<NA>,3,4,1548
640,6,3,4,<NA>
641,5,3,3,1598
642,<NA>,3,<NA>,1599
643,6,3,2,1609
644,10,3,4,1638
645,8,3,1,1640
646,<NA>,4,3,<NA>
647,13,4,3,1664
648,5,<NA>,3,1684
649,6,3,4,1704
650,9,4,2,1736
651,5,3,3,1782
652,6,<NA>,4,1826
653,15,3,3,<NA>
654,6,3,2,1850
655,14,4,3,1909
656,<NA>,3,2,1924
657,28,3,3,1941
658,5,4,3,1949
659,14,3,3,<NA>
660,5,3,1,<NA>
661,10,3,3,<NA>
662,<NA>,4,<NA>,27
663,6,3,2,46
664,<NA>,<NA>,3,52
665,9,4,2,68
666,10,3,3,79
667,<NA>,<NA>,2,80
668,20,<NA>,2,91
669,22,4,2,119
670,16,3,1,126
671,28,3,2,<NA>
672,<NA>,<NA>,3,148
673,<NA>,3,3,150
674,<NA>,3,3,<NA>
675,6,3,3,198
676,<NA>,3,3,216
677,12,3,1,<NA>
678,12,<NA>,4,230
679,4,4,2,<NA>
680,11,3,3,270
681,<NA>,3,4,277
682,9,3,2,299
683,4,3,<NA>,315
684,<NA>,<NA>,3,330
685,6,3,3,369
686,21,3,2,386
687,5,3,3,390
688,<NA>,4,3,<NA>
689,9,3,3,412
690,<NA>,3,3,422
691,4,3,<NA>,434
692,20,<NA>,2,450
693,<NA>,4,2,<NA>
694,<NA>,<NA>,2,469
695,20,3,3,491
696,6,3,3,554
697,9,3,1,<NA>
698,14,3,3,579
699,8,3,3,<NA>
700,<NA>,3,2,592
701,<NA>,3,3,599
702,<NA>,3,3,<NA>
703,<NA>,4,4,641
704,6,3,3,<NA>
705,6,3,2,655
706,5,3,3,667
707,18,3,3,<NA>
708,5,3,4,758
709,<NA>,3,1,760
710,<NA>,3,3,791
711,<NA>,3,2,796
712,<NA>,<NA>,3,799
713,<NA>,3,2,<NA>
714,<NA>,3,3,815
715,8,3,3,827
716,<NA>,3,2,<NA>
717,<NA>,3,2,<NA>
718,9,3,2,865
719,5,3,3,<NA>
720,17,3,2,894
721,<NA>,3,4,<NA>
722,8,3,3,<NA>
723,6,3,3,983
724,8,<NA>,3,996
725,4,3,3,1011
726,4,3,2,1019
727,<NA>,3,3,1032
728,26,3,4,1045
729,<NA>,3,3,1049
730,8,3,2,<NA>
731,<NA>,3,3,1068
732,6,3,3,<NA>
733,<NA>,3,1,1136
734,6,4,3,<NA>
735,<NA>,3,3,1179
736,7,<NA>,2,1188
737,8,3,3,1211
738,<NA>,3,2,1228
739,<NA>,3,4,1231
740,5,3,3,<NA>
741,<NA>,3,<NA>,1259
742,36,3,3,1338
743,<NA>,3,3,1349
744,5,3,3,1387
745,<NA>,3,2,1401
746,5,3,3,1407
747,20,4,<NA>,1420
748,10,3,3,1431
749,7,3,<NA>,1446
750,5,3,3,1477
751,7,<NA>,1,1487
752,6,4,4,1499
753,5,3,3,1533
754,5,3,3,1545
755,6,4,3,1554
756,10,3,3,1563
757,6,4,2,1622
758,<NA>,3,2,1631
759,6,3,3,1646
760,<NA>,3,3,1659
761,4,4,3,<NA>
762,11,3,3,1689
763,6,3,2,1700
764,5,3,3,<NA>
765,<NA>,3,3,<NA>
766,<NA>,3,1,1739
767,7,4,2,1768
768,5,4,3,1772
769,<NA>,3,2,1792
770,5,3,4,<NA>
771,<NA>,4,3,1800
772,7,3,2,<NA>
773,10,3,<NA>,<NA>
774,12,3,3,1822
775,<NA>,3,3,<NA>
776,10,4,2,1854
777,9,3,3,1882
778,16,4,3,1885
779,6,<NA>,2,1931
780,<NA>,3,1,1945
781,5,3,2,1947
782,6,3,2,1954
783,9,3,2,1969
784,4,3,2,1981
785,10,3,3,1997
786,9,3,2,1998
787,<NA>,<NA>,3,1999
788,6,4,2,2018
789,6,3,3,<NA>
790,12,3,<NA>,2044
791,8,3,2,<NA>
792,<NA>,3,3,2046
793,20,3,3,<NA>
794,4,3,3,2052
795,10,3,3,2053
796,<NA>,3,4,2068
797,6,3,3,7
798,5,3,2,16
799,3,3,3,18
800,6,3,3,19
801,7,3,2,21
802,6,3,3,24
803,5,3,2,26
804,<NA>,3,3,31
805,<NA>,<NA>,3,33
806,22,3,2,38
807,<NA>,3,4,40
808,3,3,3,47
809,2,3,3,49
810,2,<NA>,2,65
811,5,3,2,72
812,4,<NA>,3,<NA>
813,5,3,2,88
814,<NA>,<NA>,4,102
815,<NA>,4,3,103
816,<NA>,3,3,110
817,10,4,3,116
818,4,4,2,128
819,<NA>,3,4,132
820,<NA>,4,3,133
821,<NA>,4,3,<NA>
822,<NA>,3,<NA>,143
823,<NA>,3,3,171
824,16,3,<NA>,<NA>
825,4,3,3,175
826,7,4,3,178
827,18,3,3,179
828,<NA>,3,3,<NA>
829,19,4,<NA>,193
830,8,<NA>,3,197
831,2,4,3,<NA>
832,<NA>,3,1,218
833,5,3,1,221
834,6,3,2,233
835,<NA>,3,<NA>,241
836,<NA>,<NA>,<NA>,245
837,7,4,3,246
838,9,3,3,247
839,<NA>,3,2,249
840,5,3,3,250
841,<NA>,3,3,269
842,<NA>,3,3,<NA>
843,<NA>,3,4,<NA>
844,4,3,2,<NA>
845,5,3,1,287
846,17,3,3,288
847,8,3,3,297
848,<NA>,3,2,<NA>
849,16,3,3,303
850,<NA>,4,3,305
851,<NA>,3,2,316
852,<NA>,3,2,<NA>
853,4,3,1,<NA>
854,7,3,3,332
855,4,3,3,<NA>
856,<NA>,3,3,337
857,2,3,2,338
858,9,3,3,341
859,<NA>,3,3,347
860,<NA>,3,3,349
861,5,3,3,350
862,9,3,3,362
863,<NA>,4,<NA>,<NA>
864,<NA>,3,4,379
865,<NA>,3,3,380
866,<NA>,3,3,393
867,<NA>,3,3,394
868,<NA>,3,3,396
869,2,3,2,<NA>
870,<NA>,3,2,403
871,<NA>,3,3,423
872,<NA>,3,3,424
873,3,3,1,<NA>
874,11,<NA>,2,433
875,<NA>,3,2,440
876,21,3,3,447
877,4,3,<NA>,455
878,8,3,2,460
879,<NA>,3,2,465
880,4,3,3,470
881,4,3,4,475
882,3,3,3,478
883,<NA>,3,3,482
884,3,4,2,<NA>
885,3,3,3,<NA>
886,6,<NA>,3,495
887,5,3,3,<NA>
888,<NA>,4,3,<NA>
889,<NA>,3,3,501
890,<NA>,3,2,502
891,<NA>,3,4,507
892,8,3,3,517
893,24,3,2,522
894,<NA>,3,3,523
895,<NA>,4,3,525
896,<NA>,3,3,526
897,4,3,<NA>,530
898,6,3,<NA>,<NA>
899,8,<NA>,2,544
900,31,3,1,<NA>
901,3,3,2,555
902,<NA>,4,1,<NA>
903,<NA>,3,3,564
904,6,3,4,<NA>
905,<NA>,3,1,<NA>
906,15,3,3,580
907,<NA>,3,3,585
908,<NA>,3,3,<NA>
909,<NA>,3,<NA>,591
910,4,3,3,593
911,8,3,4,611
912,<NA>,3,2,624
913,<NA>,3,3,631
914,3,3,3,632
915,<NA>,3,3,652
916,10,3,3,659
917,21,3,1,664
918,10,<NA>,4,665
919,8,3,3,666
920,<NA>,<NA>,3,<NA>
921,26,3,4,671
922,<NA>,4,3,675
923,<NA>,<NA>,3,686
924,13,3,3,699
925,5,3,3,<NA>
926,5,3,4,705
927,4,4,3,707
928,<NA>,3,3,712
929,<NA>,3,3,<NA>
930,10,3,3,732
931,4,3,3,738
932,9,3,3,744
933,28,3,2,746
934,<NA>,3,3,752
935,7,<NA>,3,754
936,5,4,2,<NA>
937,<NA>,3,3,<NA>
938,19,3,3,769
939,<NA>,3,3,<NA>
940,24,3,3,<NA>
941,<NA>,3,3,792
942,<NA>,3,3,797
943,5,3,3,800
944,3,3,2,<NA>
945,7,<NA>,3,806
946,<NA>,3,3,<NA>
947,9,4,3,813
948,<NA>,3,3,819
949,7,3,3,<NA>
950,5,3,2,<NA>
951,<NA>,3,3,<NA>
952,6,3,3,838
953,4,3,1,847
954,10,3,2,852
955,8,3,2,859
956,35,3,3,<NA>
957,4,4,1,872
958,10,4,2,874
959,10,3,2,881
960,5,3,4,885
961,7,3,3,<NA>
962,<NA>,3,2,888
963,3,3,3,893
964,5,3,3,896
965,12,3,2,902
966,4,3,3,916
967,2,3,2,922
968,3,3,2,925
969,4,3,4,<NA>
970,6,3,3,930
971,<NA>,4,1,<NA>
972,<NA>,3,3,939
973,8,3,3,<NA>
974,5,3,3,975
975,4,4,3,991
976,5,3,3,995
977,4,3,3,1001
978,<NA>,3,<NA>,<NA>
979,5,3,3,<NA>
980,5,4,1,1010
981,4,3,3,1017
982,19,3,3,1022
983,8,3,3,<NA>
984,<NA>,3,<NA>,1027
985,3,4,2,1028
986,<NA>,3,3,1037
987,<NA>,3,2,1044
988,6,3,3,1053
989,8,3,3,<NA>
990,23,3,3,1069
991,2,3,3,1077
992,7,3,2,1084
993,3,3,<NA>,1094
994,23,3,3,1096
995,<NA>,3,3,1099
996,4,3,2,1102
997,<NA>,3,2,1103
998,5,4,3,1108
999,4,3,3,1114
1000,2,3,4,1131
1001,3,<NA>,3,1135
1002,5,3,3,<NA>
1003,<NA>,3,<NA>,1140
1004,6,3,3,1157
1005,<NA>,3,2,1160
1006,9,3,3,1161
1007,4,<NA>,3,1162
1008,2,3,4,1185
1009,28,3,3,<NA>
1010,<NA>,3,<NA>,1195
1011,2,3,2,<NA>
1012,<NA>,4,<NA>,<NA>
1013,25,3,3,1217
1014,2,4,3,1234
1015,16,3,2,<NA>
1016,3,3,<NA>,<NA>
1017,2,4,1,<NA>
1018,4,3,3,<NA>
1019,<NA>,3,2,1286
1020,4,<NA>,3,1291
1021,<NA>,3,3,<NA>
1022,5,3,2,1301
1023,<NA>,3,2,1303
1024,<NA>,3,3,1308
1025,6,3,3,<NA>
1026,10,3,3,1311
1027,<NA>,3,<NA>,1317
1028,19,3,3,1329
1029,<NA>,3,4,1331
1030,10,<NA>,4,1333
1031,6,3,3,<NA>
1032,<NA>,3,2,1358
1033,7,4,3,1361
1034,<NA>,3,2,<NA>
1035,<NA>,4,3,1371
1036,5,3,2,1380
1037,4,3,3,<NA>
1038,10,3,2,1389
1039,14,3,3,<NA>
1040,12,3,2,1392
1041,4,3,2,1396
1042,6,3,2,<NA>
1043,<NA>,3,3,1403
1044,8,<NA>,3,1405
1045,8,3,3,1411
1046,10,3,3,1412
1047,7,3,2,1415
1048,<NA>,3,3,1428
1049,<NA>,3,4,<NA>
1050,11,3,2,1436
1051,6,3,3,1439
1052,5,4,4,1441
1053,7,3,<NA>,1448
1054,8,<NA>,3,<NA>
1055,7,3,1,1464
1056,<NA>,3,3,1466
1057,2,3,3,1467
1058,7,3,3,1471
1059,20,<NA>,2,1473
1060,6,3,2,1475
1061,5,3,4,1486
1062,16,<NA>,2,<NA>
1063,4,3,3,<NA>
1064,5,3,3,1507
1065,10,4,3,1509
1066,<NA>,3,3,1513
1067,10,<NA>,4,1516
1068,7,3,<NA>,1537
1069,8,3,3,1552
1070,7,4,2,<NA>
1071,<NA>,3,1,1560
1072,9,3,3,1568
1073,<NA>,3,3,1573
1074,<NA>,3,2,1576
1075,<NA>,3,2,1580
1076,8,3,4,1583
1077,<NA>,3,3,1587
1078,4,3,3,1592
1079,9,3,3,1594
1080,8,3,2,1597
1081,4,<NA>,2,<NA>
1082,6,3,3,1607
1083,<NA>,3,3,<NA>
1084,7,3,3,<NA>
1085,<NA>,3,<NA>,1623
1086,27,3,3,<NA>
1087,<NA>,3,1,<NA>
1088,18,<NA>,2,1641
1089,<NA>,4,3,1644
1090,<NA>,3,2,1645
1091,5,3,3,1647
1092,<NA>,3,2,1648
1093,10,3,1,<NA>
1094,<NA>,3,3,<NA>
1095,9,<NA>,3,1651
1096,27,3,3,1655
1097,2,3,3,1657
1098,4,3,3,1662
1099,6,3,3,1670
1100,17,3,2,1674
1101,29,3,3,<NA>
1102,<NA>,3,3,<NA>
1103,10,3,2,1682
1104,8,3,3,1683
1105,8,<NA>,3,1694
1106,3,4,3,1702
1107,<NA>,3,4,<NA>
1108,<NA>,3,2,<NA>
1109,6,3,4,1721
1110,<NA>,<NA>,3,1722
1111,6,3,4,<NA>
1112,16,3,3,1733
1113,3,3,1,1735
1114,3,3,3,1746
1115,<NA>,3,2,<NA>
1116,6,3,3,<NA>
1117,6,3,2,1751
1118,2,3,3,<NA>
1119,10,3,4,1753
1120,27,4,2,<NA>
1121,<NA>,<NA>,3,<NA>
1122,<NA>,3,3,<NA>
1123,<NA>,3,3,1787
1124,6,3,3,1801
1125,<NA>,3,2,1813
1126,<NA>,3,1,1814
1127,9,3,3,1833
1128,<NA>,4,3,1834
1129,20,4,2,1835
1130,23,3,3,1837
1131,<NA>,3,3,1844
1132,<NA>,3,3,1856
1133,3,3,3,1858
1134,7,3,2,<NA>
1135,7,3,3,<NA>
1136,<NA>,4,4,1873
1137,<NA>,3,3,1883
1138,4,3,3,1886
1139,<NA>,4,3,1905
1140,5,3,3,1907
1141,<NA>,3,1,1908
1142,<NA>,3,3,<NA>
1143,9,3,2,<NA>
1144,4,3,2,<NA>
1145,12,3,3,1922
1146,10,<NA>,3,1929
1147,<NA>,3,4,<NA>
1148,4,<NA>,<NA>,1948
1149,15,3,2,<NA>
1150,<NA>,3,3,1972
1151,9,<NA>,3,1980
1152,<NA>,3,4,1982
1153,<NA>,3,2,1992
1154,<NA>,3,3,1996
1155,<NA>,3,3,2003
1156,<NA>,<NA>,4,2007
1157,6,3,3,2010
1158,<NA>,3,3,<NA>
1159,<NA>,3,3,<NA>
1160,18,3,3,<NA>
1161,4,3,4,2027
1162,<NA>,3,3,2038
1163,8,3,3,2048
1164,<NA>,3,4,<NA>
1165,20,3,3,2055
1166,<NA>,3,3,2060
1167,17,3,3,2061
1168,6,4,3,2064
1169,7,3,3,39
1170,<NA>,3,4,51
1171,1,3,3,95
1172,3,3,3,169
1173,1,3,2,224
1174,4,3,<NA>,242
1175,8,3,3,286
1176,<NA>,<NA>,2,340
1177,5,4,1,<NA>
1178,<NA>,3,3,<NA>
1179,<NA>,3,3,431
1180,<NA>,3,3,496
1181,2,3,3,511
1182,10,3,3,612
1183,<NA>,3,1,650
1184,5,3,3,684
1185,32,3,3,730
1186,10,3,3,757
1187,<NA>,4,3,<NA>
1188,6,3,3,869
1189,8,3,3,875
1190,1,3,3,<NA>
1191,3,<NA>,<NA>,964
1192,<NA>,3,1,970
1193,3,3,3,<NA>
1194,3,3,2,1006
1195,16,3,2,<NA>
1196,1,3,3,1055
1197,29,3,2,1061
1198,1,<NA>,2,1107
1199,<NA>,3,3,<NA>
1200,<NA>,<NA>,2,<NA>
1201,16,3,1,1180

In [23]:
df[lista_int].dtypes

años_en_activo                     Int64
evaluacion_desempeño               Int64
nivel_satisfaccion_conciliacion    Int64
numero_empleado                    Int64
dtype: object

###### **NÚMERO A LETRA:**

In [24]:
# Cambiar columna Género sustituyendo el 0 y 1 por hombre y mujer:
 
diccionario_genero = {0:'male', 1:'female'}
df['genero'] = df['genero'].astype(object).map(diccionario_genero)
df['genero']

0         male
1         male
2         male
3       female
4       female
5       female
6       female
7         male
8       female
9         male
10      female
11        male
12      female
13      female
14        male
15      female
16        male
17      female
18        male
19      female
20        male
21      female
22      female
23      female
24        male
25      female
26      female
27      female
28        male
29        male
30      female
31        male
32      female
33        male
34      female
35      female
36      female
37        male
38      female
39        male
40      female
41        male
42        male
43      female
44      female
45        male
46      female
47        male
48      female
49      female
50      female
51      female
52        male
53      female
54        male
55        male
56      female
57      female
58      female
59        male
60        male
61      female
62        male
63        male
64        male
65        male
66      female
67        male
68      female
69      female
70      female
71      female
72      female
73        male
74        male
75      female
76      female
77      female
78        male
79        male
80      female
81      female
82        male
83      female
84        male
85        male
86        male
87        male
88        male
89      female
90        male
91        male
92        male
93      female
94        male
95      female
96        male
97        male
98      female
99        male
100       male
101       male
102       male
103       male
104       male
105       male
106     female
107     female
108       male
109       male
110       male
111     female
112       male
113       male
114       male
115       male
116       male
117       male
118       male
119     female
120       male
121       male
122     female
123     female
124       male
125       male
126     female
127       male
128       male
129       male
130       male
131       male
132       male
133       male
134     female
135     female
136       male
137     female
138       male
139       male
140       male
141       male
142       male
143       male
144     female
145       male
146       male
147       male
148       male
149     female
150     female
151       male
152     female
153       male
154       male
155       male
156     female
157       male
158     female
159     female
160       male
161       male
162       male
163       male
164     female
165       male
166       male
167     female
168       male
169       male
170       male
171     female
172       male
173     female
174     female
175       male
176     female
177       male
178       male
179       male
180       male
181     female
182       male
183       male
184     female
185       male
186     female
187       male
188       male
189       male
190       male
191       male
192       male
193     female
194       male
195     female
196     female
197       male
198     female
199     female
200       male
201       male
202       male
203       male
204       male
205     female
206       male
207       male
208     female
209       male
210       male
211     female
212       male
213       male
214       male
215       male
216     female
217       male
218     female
219     female
220     female
221       male
222     female
223     female
224     female
225       male
226       male
227     female
228     female
229     female
230       male
231       male
232       male
233     female
234       male
235       male
236       male
237       male
238       male
239       male
240       male
241     female
242     female
243       male
244       male
245       male
246       male
247       male
248       male
249       male
250       male
251       male
252     female
253       male
254     female
255       male
256       male
257     female
258       male
259     female
260       male
261     female
262       male
263       male
264     female
265       male
266       male
267       male
268       male
269       male
270     female
271       male
272       male
273     female
274       male
275       male
276       male
277       male
278     female
279       male
280     female
281       male
282       male
283       male
284     female
285     female
286     female
287       male
288       male
289       male
290     female
291     female
292     female
293     female
294       male
295       male
296       male
297     female
298       male
299       male
300     female
301       male
302       male
303       male
304       male
305     female
306       male
307     female
308       male
309     female
310       male
311     female
312     female
313       male
314       male
315     female
316       male
317     female
318     female
319     female
320       male
321     female
322     female
323       male
324     female
325       male
326     female
327     female
328       male
329       male
330       male
331     female
332       male
333       male
334     female
335       male
336     female
337     female
338       male
339     female
340     female
341     female
342       male
343       male
344       male
345     female
346     female
347       male
348       male
349       male
350       male
351     female
352     female
353     female
354       male
355     female
356       male
357       male
358     female
359     female
360       male
361     female
362       male
363       male
364     female
365     female
366       male
367       male
368       male
369       male
370       male
371     female
372     female
373       male
374       male
375     female
376     female
377     female
378       male
379       male
380       male
381     female
382       male
383     female
384       male
385       male
386     female
387     female
388       male
389       male
390       male
391     female
392       male
393       male
394     female
395       male
396     female
397       male
398       male
399       male
400     female
401     female
402       male
403       male
404     female
405       male
406     female
407     female
408     female
409       male
410     female
411       male
412       male
413       male
414     female
415     female
416     female
417       male
418       male
419     female
420     female
421       male
422     female
423     female
424       male
425       male
426       male
427       male
428       male
429       male
430       male
431       male
432     female
433       male
434     female
435     female
436     female
437     female
438       male
439       male
440       male
441       male
442     female
443       male
444       male
445       male
446     female
447       male
448     female
449     female
450       male
451       male
452     female
453       male
454     female
455       male
456       male
457     female
458       male
459       male
460     female
461     female
462     female
463       male
464     female
465       male
466     female
467       male
468       male
469       male
470       male
471       male
472       male
473       male
474       male
475       male
476     female
477       male
478     female
479       male
480     female
481     female
482     female
483     female
484       male
485     female
486     female
487       male
488       male
489     female
490     female
491     female
492       male
493       male
494     female
495       male
496     female
497       male
498     female
499     female
500       male
501     female
502     female
503     female
504     female
505       male
506       male
507       male
508       male
509     female
510       male
511       male
512       male
513       male
514       male
515       male
516     female
517     female
518       male
519     female
520       male
521       male
522     female
523       male
524       male
525       male
526       male
527       male
528     female
529       male
530     female
531       male
532     female
533       male
534     female
535       male
536       male
537       male
538     female
539     female
540       male
541     female
542       male
543     female
544     female
545     female
546     female
547     female
548       male
549     female
550       male
551       male
552       male
553       male
554       male
555       male
556     female
557       male
558     female
559       male
560       male
561       male
562       male
563       male
564       male
565       male
566     female
567     female
568     female
569     female
570     female
571       male
572     female
573       male
574     female
575       male
576       male
577       male
578       male
579       male
580     female
581       male
582       male
583       male
584     female
585       male
586     female
587       male
588     female
589     female
590     female
591       male
592     female
593     female
594       male
595       male
596     female
597       male
598     female
599     female
600       male
601       male
602       male
603       male
604     female
605     female
606     female
607       male
608       male
609       male
610     female
611     female
612       male
613       male
614       male
615       male
616       male
617     female
618       male
619     female
620     female
621     female
622       male
623       male
624     female
625       male
626       male
627       male
628       male
629     female
630     female
631       male
632     female
633     female
634       male
635     female
636     female
637       male
638       male
639       male
640       male
641     female
642       male
643       male
644     female
645     female
646       male
647       male
648       male
649       male
650     female
651     female
652       male
653     female
654     female
655     female
656       male
657       male
658       male
659       male
660     female
661       male
662       male
663     female
664     female
665     female
666     female
667     female
668     female
669       male
670     female
671     female
672     female
673       male
674       male
675       male
676     female
677       male
678     female
679     female
680     female
681       male
682     female
683       male
684     female
685       male
686       male
687       male
688     female
689       male
690       male
691     female
692     female
693       male
694       male
695       male
696     female
697       male
698       male
699       male
700       male
701       male
702     female
703       male
704     female
705     female
706       male
707       male
708       male
709     female
710       male
711       male
712     female
713     female
714       male
715     female
716       male
717       male
718     female
719       male
720     female
721       male
722     female
723     female
724     female
725     female
726       male
727     female
728     female
729       male
730     female
731     female
732       male
733       male
734       male
735       male
736     female
737       male
738       male
739       male
740       male
741       male
742       male
743     female
744       male
745     female
746       male
747       male
748       male
749       male
750       male
751     female
752       male
753       male
754       male
755     female
756       male
757     female
758       male
759     female
760       male
761     female
762       male
763       male
764       male
765     female
766       male
767       male
768       male
769       male
770       male
771       male
772     female
773       male
774     female
775       male
776       male
777       male
778       male
779       male
780       male
781       male
782       male
783     female
784       male
785       male
786       male
787       male
788     female
789       male
790       male
791     female
792     female
793     female
794     female
795       male
796       male
797       male
798       male
799       male
800       male
801       male
802       male
803     female
804       male
805     female
806     female
807       male
808       male
809     female
810       male
811     female
812     female
813       male
814       male
815       male
816       male
817       male
818     female
819       male
820       male
821     female
822       male
823     female
824     female
825     female
826       male
827       male
828       male
829     female
830     female
831       male
832       male
833       male
834       male
835     female
836     female
837     female
838     female
839       male
840     female
841     female
842       male
843       male
844       male
845       male
846       male
847     female
848       male
849     female
850     female
851     female
852       male
853       male
854     female
855       male
856       male
857     female
858       male
859     female
860       male
861     female
862       male
863       male
864       male
865     female
866       male
867       male
868     female
869     female
870       male
871       male
872       male
873       male
874       male
875       male
876       male
877       male
878       male
879       male
880       male
881     female
882     female
883       male
884       male
885       male
886       male
887       male
888       male
889     female
890       male
891     female
892     female
893       male
894     female
895       male
896     female
897       male
898       male
899       male
900     female
901     female
902     female
903       male
904     female
905       male
906     female
907       male
908     female
909       male
910       male
911       male
912     female
913       male
914       male
915       male
916     female
917     female
918     female
919     female
920       male
921       male
922       male
923     female
924       male
925       male
926       male
927       male
928       male
929     female
930       male
931       male
932       male
933     female
934       male
935       male
936     female
937       male
938       male
939       male
940       male
941     female
942     female
943       male
944     female
945       male
946     female
947     female
948     female
949     female
950       male
951       male
952     female
953       male
954       male
955       male
956     female
957       male
958       male
959     female
960       male
961     female
962       male
963       male
964     female
965     female
966       male
967     female
968     female
969     female
970     female
971       male
972       male
973       male
974     female
975       male
976     female
977     female
978     female
979     female
980       male
981     female
982       male
983     female
984     female
985       male
986       male
987     female
988       male
989       male
990       male
991     female
992       male
993       male
994       male
995       male
996       male
997       male
998       male
999     female
1000    female
1001      male
1002      male
1003      male
1004    female
1005      male
1006    female
1007      male
1008      male
1009    female
1010    female
1011      male
1012    female
1013      male
1014    female
1015    female
1016    female
1017    female
1018    female
1019      male
1020      male
1021      male
1022      male
1023    female
1024      male
1025      male
1026    female
1027    female
1028      male
1029    female
1030      male
1031      male
1032      male
1033      male
1034    female
1035      male
1036    female
1037      male
1038      male
1039      male
1040    female
1041      male
1042      male
1043    female
1044    female
1045    female
1046      male
1047      male
1048    female
1049    female
1050    female
1051      male
1052    female
1053      male
1054    female
1055      male
1056      male
1057    female
1058      male
1059      male
1060      male
1061      male
1062      male
1063      male
1064      male
1065    female
1066    female
1067      male
1068    female
1069      male
1070      male
1071      male
1072      male
1073      male
1074    female
1075      male
1076    female
1077    female
1078      male
1079      male
1080      male
1081    female
1082    female
1083      male
1084    female
1085      male
1086    female
1087    female
1088    female
1089      male
1090      male
1091    female
1092      male
1093      male
1094      male
1095    female
1096    female
1097    female
1098    female
1099      male
1100    female
1101    female
1102      male
1103      male
1104    female
1105      male
1106      male
1107      male
1108      male
1109      male
1110      male
1111      male
1112      male
1113    female
1114      male
1115    female
1116      male
1117    female
1118    female
1119      male
1120    female
1121    female
1122    female
1123      male
1124      male
1125      male
1126      male
1127    female
1128    female
1129    female
1130      male
1131      male
1132    female
1133      male
1134      male
1135      male
1136      male
1137      male
1138    female
1139      male
1140      male
1141      male
1142    female
1143    female
1144    female
1145      male
1146    female
1147      male
1148      male
1149      male
1150      male
1151    female
1152      male
1153      male
1154      male
1155      male
1156      male
1157    female
1158      male
1159      male
1160    female
1161      male
1162      male
1163      male
1164      male
1165      male
1166    female
1167      male
1168      male
1169      male
1170    female
1171      male
1172      male
1173      male
1174      male
1175    female
1176    female
1177      male
1178      male
1179    female
1180      male
1181    female
1182    female
1183      male
1184    female
1185      male
1186    female
1187      male
1188      male
1189      male
1190    female
1191      male
1192      male
1193    female
1194      male
1195      male
1196    female
1197      male
1198      male
1199      male
1200    female
1201    female
1202      male
1203      male
1204    female
1205    female
1206    female
1207    female
1208      male
1209      male
1210      male
1211      male
1212    female
1213      male
1214    female
1215    female
1216      male
1217      male
1218      male
1219    female
1220    female
1221      male
1222    female
1223    female
1224      male
1225      male
1226      male
1227    female
1228      male
1229      male
1230      male
1231      male
1232      male
1233      male
1234      male
1235    female
1236      male
1237      male
1238      male
1239      male
1240      male
1241    female
1242      male
1243      male
1244    female
1245      male
1246      male
1247      male
1248      male
1249    female
1250      male
1251    female
1252    female
1253    female
1254      male
1255      male
1256    female
1257      male
1258    female
1259    female
1260      male
1261      male
1262      male
1263      male
1264    female
1265      male
1266    female
1267      male
1268      male
1269      male
1270      male
1271      male
1272      male
1273      male
1274    female
1275      male
1276      male
1277      male
1278      male
1279    female
1280    female
1281    female
1282      male
1283    female
1284    female
1285    female
1286      male
1287    female
1288    female
1289    female
1290    female
1291      male
1292      male
1293      male
1294    female
1295      male
1296      male
1297      male
1298      male
1299    female
1300    female
1301      male
1302      male
1303      male
1304      male
1305      male
1306    female
1307      male
1308      male
1309      male
1310    female
1311      male
1312    female
1313      male
1314    female
1315    female
1316      male
1317      male
1318      male
1319    female
1320      male
1321    female
1322      male
1323    female
1324      male
1325      male
1326    female
1327      male
1328    female
1329    female
1330      male
1331      male
1332      male

###### **HOMOGENEIZAR TEXTO:**

In [25]:
#Cambiar la columna de Estado civil para normalizar datos: 

df['estado_civil'] = df['estado_civil'].str.lower().str.replace('marreid','married')
df['estado_civil'].sample(50)

326          NaN
190          NaN
273          NaN
289     divorced
450       single
1077      single
1039         NaN
57           NaN
1068         NaN
519      married
861      married
688          NaN
343          NaN
164      married
226       single
1101         NaN
479       single
803          NaN
33        single
224          NaN
513          NaN
35      divorced
1361      single
263      married
38       married
1286         NaN
974          NaN
137      married
1155     married
1492         NaN
776      married
741     divorced
675       single
572          NaN
1142    divorced
684      married
879          NaN
831      married
786          NaN
249          NaN
6            NaN
596       single
967       single
840     divorced
1263     married
747          NaN
848       single
457          NaN
1582         NaN
1612    divorced
Name: estado_civil, dtype: object

In [26]:
#Cambiar columna teletrabajo de forma que solo queden los valores yes y no: 

diccionario_teletrabajo= {'0':'no', '1':'yes','False':'no','True':'yes','Yes':'yes'}
df['teletrabajo']=df['teletrabajo'].map(diccionario_teletrabajo)
df['teletrabajo']

0       yes
1       yes
2       yes
3        no
4        no
5       yes
6       yes
7        no
8       yes
9        no
10       no
11       no
12      yes
13       no
14      yes
15       no
16       no
17       no
18       no
19      yes
20       no
21      yes
22      yes
23       no
24      yes
25       no
26      yes
27       no
28      yes
29      yes
30      yes
31      yes
32      yes
33       no
34      yes
35      yes
36      yes
37      yes
38      yes
39       no
40       no
41      yes
42       no
43      yes
44       no
45      yes
46      yes
47      yes
48      yes
49      yes
50       no
51      yes
52       no
53      yes
54      yes
55      yes
56      yes
57       no
58      yes
59      yes
60      yes
61       no
62      yes
63       no
64       no
65      yes
66      yes
67      yes
68      yes
69      yes
70      yes
71       no
72      yes
73      yes
74      yes
75      yes
76       no
77      yes
78      yes
79      yes
80       no
81      yes
82      yes
83      yes
84      yes
85      yes
86       no
87      yes
88      yes
89      yes
90      yes
91       no
92      yes
93      yes
94      yes
95       no
96       no
97       no
98      yes
99       no
100      no
101     yes
102      no
103     yes
104      no
105      no
106     yes
107      no
108      no
109      no
110     yes
111     yes
112     yes
113      no
114      no
115     yes
116     yes
117     yes
118     yes
119      no
120     yes
121     yes
122     yes
123      no
124     yes
125     yes
126     yes
127     yes
128      no
129     yes
130     yes
131     yes
132      no
133     yes
134     yes
135      no
136      no
137      no
138      no
139      no
140     yes
141     yes
142     yes
143     yes
144      no
145     yes
146      no
147      no
148     yes
149      no
150     yes
151     yes
152     yes
153     yes
154      no
155     yes
156     yes
157     yes
158      no
159     yes
160      no
161     yes
162     yes
163     yes
164     yes
165      no
166     yes
167      no
168     yes
169     yes
170     yes
171     yes
172     yes
173     yes
174     yes
175      no
176     yes
177     yes
178     yes
179      no
180      no
181      no
182     yes
183      no
184     yes
185     yes
186      no
187     yes
188      no
189     yes
190     yes
191      no
192      no
193     yes
194     yes
195     yes
196     yes
197     yes
198     yes
199     yes
200     yes
201      no
202     yes
203     yes
204     yes
205      no
206     yes
207     yes
208      no
209     yes
210      no
211      no
212     yes
213     yes
214      no
215     yes
216     yes
217      no
218     yes
219      no
220     yes
221     yes
222     yes
223     yes
224     yes
225      no
226     yes
227     yes
228      no
229     yes
230     yes
231     yes
232     yes
233     yes
234     yes
235     yes
236     yes
237     yes
238     yes
239      no
240     yes
241     yes
242     yes
243      no
244     yes
245      no
246     yes
247      no
248     yes
249      no
250      no
251     yes
252      no
253      no
254     yes
255      no
256     yes
257      no
258      no
259     yes
260      no
261     yes
262     yes
263     yes
264     yes
265     yes
266     yes
267     yes
268      no
269      no
270      no
271     yes
272     yes
273      no
274      no
275     yes
276      no
277      no
278     yes
279     yes
280      no
281     yes
282      no
283     yes
284     yes
285      no
286      no
287     yes
288     yes
289      no
290      no
291     yes
292     yes
293     yes
294     yes
295     yes
296     yes
297      no
298     yes
299     yes
300      no
301     yes
302     yes
303     yes
304     yes
305     yes
306     yes
307     yes
308      no
309      no
310      no
311      no
312      no
313      no
314     yes
315     yes
316      no
317     yes
318      no
319     yes
320     yes
321      no
322      no
323      no
324     yes
325     yes
326     yes
327     yes
328     yes
329     yes
330      no
331      no
332     yes
333     yes
334     yes
335     yes
336      no
337      no
338     yes
339     yes
340      no
341      no
342      no
343     yes
344      no
345     yes
346      no
347     yes
348      no
349     yes
350      no
351     yes
352     yes
353     yes
354     yes
355      no
356     yes
357      no
358     yes
359     yes
360     yes
361     yes
362      no
363     yes
364      no
365      no
366      no
367     yes
368      no
369     yes
370      no
371     yes
372     yes
373      no
374     yes
375     yes
376     yes
377     yes
378      no
379     yes
380      no
381     yes
382     yes
383     yes
384     yes
385     yes
386     yes
387      no
388      no
389     yes
390     yes
391      no
392     yes
393     yes
394      no
395     yes
396     yes
397     yes
398     yes
399     yes
400      no
401     yes
402     yes
403     yes
404     yes
405      no
406     yes
407     yes
408     yes
409      no
410     yes
411     yes
412     yes
413     yes
414     yes
415     yes
416      no
417     yes
418      no
419      no
420      no
421     yes
422     yes
423      no
424     yes
425     yes
426     yes
427     yes
428      no
429      no
430     yes
431     yes
432     yes
433     yes
434     yes
435     yes
436      no
437      no
438      no
439     yes
440      no
441     yes
442     yes
443     yes
444      no
445     yes
446      no
447     yes
448     yes
449     yes
450     yes
451     yes
452      no
453     yes
454     yes
455     yes
456      no
457     yes
458      no
459      no
460      no
461      no
462      no
463      no
464     yes
465     yes
466      no
467     yes
468     yes
469     yes
470      no
471     yes
472     yes
473      no
474     yes
475     yes
476     yes
477     yes
478     yes
479      no
480     yes
481     yes
482      no
483     yes
484     yes
485      no
486     yes
487     yes
488      no
489      no
490     yes
491     yes
492     yes
493     yes
494      no
495      no
496      no
497     yes
498      no
499     yes
500      no
501     yes
502     yes
503      no
504      no
505     yes
506      no
507     yes
508     yes
509     yes
510      no
511     yes
512     yes
513      no
514     yes
515     yes
516     yes
517      no
518      no
519      no
520     yes
521     yes
522     yes
523      no
524      no
525     yes
526     yes
527      no
528      no
529     yes
530     yes
531     yes
532     yes
533      no
534      no
535     yes
536      no
537     yes
538      no
539      no
540     yes
541     yes
542      no
543      no
544     yes
545      no
546     yes
547      no
548      no
549      no
550      no
551      no
552     yes
553      no
554     yes
555     yes
556      no
557     yes
558      no
559      no
560      no
561     yes
562      no
563     yes
564     yes
565     yes
566     yes
567      no
568      no
569     yes
570      no
571      no
572      no
573     yes
574     yes
575     yes
576      no
577     yes
578     yes
579      no
580     yes
581     yes
582     yes
583     yes
584     yes
585     yes
586      no
587     yes
588     yes
589      no
590     yes
591      no
592      no
593     yes
594      no
595     yes
596     yes
597     yes
598      no
599      no
600     yes
601      no
602     yes
603     yes
604      no
605      no
606     yes
607      no
608     yes
609     yes
610     yes
611      no
612     yes
613      no
614     yes
615      no
616      no
617      no
618     yes
619      no
620     yes
621     yes
622     yes
623     yes
624     yes
625      no
626      no
627     yes
628      no
629     yes
630     yes
631     yes
632     yes
633      no
634     yes
635     yes
636     yes
637      no
638     yes
639     yes
640     yes
641     yes
642      no
643     yes
644     yes
645      no
646     yes
647     yes
648     yes
649     yes
650     yes
651     yes
652     yes
653     yes
654     yes
655     yes
656      no
657      no
658     yes
659      no
660     yes
661     yes
662      no
663      no
664      no
665      no
666     yes
667      no
668      no
669      no
670      no
671     yes
672     yes
673     yes
674     yes
675     yes
676      no
677     yes
678      no
679     yes
680      no
681     yes
682     yes
683     yes
684      no
685     yes
686     yes
687     yes
688     yes
689     yes
690     yes
691     yes
692      no
693     yes
694     yes
695      no
696     yes
697      no
698     yes
699      no
700     yes
701     yes
702     yes
703     yes
704     yes
705     yes
706     yes
707      no
708     yes
709      no
710     yes
711     yes
712     yes
713      no
714      no
715      no
716      no
717      no
718     yes
719     yes
720     yes
721      no
722      no
723     yes
724      no
725      no
726     yes
727      no
728      no
729     yes
730     yes
731      no
732     yes
733     yes
734      no
735      no
736     yes
737      no
738     yes
739     yes
740      no
741     yes
742      no
743     yes
744     yes
745     yes
746     yes
747     yes
748     yes
749     yes
750      no
751      no
752      no
753      no
754     yes
755     yes
756     yes
757     yes
758      no
759      no
760     yes
761      no
762      no
763     yes
764     yes
765      no
766      no
767     yes
768     yes
769     yes
770     yes
771     yes
772     yes
773     yes
774     yes
775      no
776      no
777     yes
778     yes
779      no
780     yes
781     yes
782      no
783      no
784     yes
785      no
786     yes
787     yes
788     yes
789     yes
790     yes
791      no
792     yes
793     yes
794     yes
795      no
796     yes
797      no
798     yes
799     yes
800     yes
801     yes
802     yes
803     yes
804     yes
805      no
806      no
807      no
808     yes
809     yes
810     yes
811      no
812      no
813     yes
814     yes
815     yes
816     yes
817     yes
818     yes
819     yes
820     yes
821      no
822     yes
823     yes
824      no
825     yes
826      no
827      no
828      no
829      no
830     yes
831     yes
832     yes
833     yes
834     yes
835     yes
836     yes
837     yes
838     yes
839      no
840      no
841     yes
842      no
843     yes
844      no
845     yes
846     yes
847     yes
848      no
849      no
850     yes
851     yes
852      no
853     yes
854      no
855     yes
856     yes
857     yes
858     yes
859     yes
860      no
861      no
862      no
863     yes
864      no
865      no
866      no
867      no
868     yes
869     yes
870      no
871     yes
872      no
873     yes
874      no
875     yes
876      no
877     yes
878     yes
879      no
880      no
881      no
882     yes
883     yes
884     yes
885     yes
886      no
887     yes
888     yes
889     yes
890     yes
891     yes
892     yes
893      no
894     yes
895     yes
896     yes
897      no
898     yes
899     yes
900      no
901     yes
902     yes
903     yes
904      no
905      no
906      no
907     yes
908      no
909     yes
910     yes
911     yes
912     yes
913     yes
914      no
915      no
916     yes
917     yes
918     yes
919     yes
920     yes
921     yes
922     yes
923      no
924     yes
925     yes
926      no
927      no
928     yes
929     yes
930      no
931     yes
932      no
933     yes
934     yes
935     yes
936      no
937      no
938      no
939      no
940      no
941     yes
942      no
943     yes
944     yes
945     yes
946     yes
947     yes
948      no
949      no
950     yes
951     yes
952     yes
953      no
954     yes
955     yes
956      no
957      no
958      no
959     yes
960      no
961      no
962      no
963     yes
964      no
965     yes
966      no
967     yes
968     yes
969     yes
970     yes
971     yes
972      no
973     yes
974     yes
975      no
976      no
977      no
978     yes
979      no
980      no
981     yes
982     yes
983      no
984     yes
985      no
986     yes
987      no
988     yes
989      no
990     yes
991     yes
992      no
993      no
994     yes
995     yes
996     yes
997     yes
998      no
999      no
1000    yes
1001    yes
1002    yes
1003    yes
1004     no
1005    yes
1006    yes
1007    yes
1008    yes
1009    yes
1010    yes
1011    yes
1012    yes
1013    yes
1014    yes
1015     no
1016    yes
1017    yes
1018    yes
1019     no
1020     no
1021     no
1022     no
1023     no
1024    yes
1025     no
1026    yes
1027    yes
1028    yes
1029     no
1030    yes
1031    yes
1032     no
1033    yes
1034    yes
1035     no
1036    yes
1037    yes
1038    yes
1039    yes
1040     no
1041    yes
1042     no
1043    yes
1044    yes
1045    yes
1046    yes
1047    yes
1048    yes
1049    yes
1050     no
1051    yes
1052    yes
1053    yes
1054    yes
1055    yes
1056     no
1057     no
1058     no
1059    yes
1060     no
1061     no
1062    yes
1063    yes
1064    yes
1065    yes
1066     no
1067    yes
1068    yes
1069     no
1070     no
1071     no
1072    yes
1073     no
1074    yes
1075    yes
1076     no
1077    yes
1078    yes
1079     no
1080     no
1081    yes
1082    yes
1083     no
1084    yes
1085     no
1086     no
1087    yes
1088    yes
1089    yes
1090     no
1091     no
1092    yes
1093    yes
1094    yes
1095    yes
1096    yes
1097    yes
1098    yes
1099    yes
1100    yes
1101    yes
1102    yes
1103     no
1104     no
1105    yes
1106     no
1107    yes
1108    yes
1109     no
1110     no
1111    yes
1112    yes
1113     no
1114     no
1115     no
1116    yes
1117     no
1118    yes
1119     no
1120    yes
1121    yes
1122    yes
1123     no
1124     no
1125    yes
1126     no
1127     no
1128     no
1129    yes
1130    yes
1131     no
1132     no
1133    yes
1134    yes
1135    yes
1136     no
1137    yes
1138     no
1139    yes
1140    yes
1141    yes
1142     no
1143    yes
1144     no
1145    yes
1146     no
1147     no
1148    yes
1149    yes
1150     no
1151     no
1152    yes
1153    yes
1154    yes
1155    yes
1156    yes
1157     no
1158    yes
1159    yes
1160    yes
1161    yes
1162    yes
1163    yes
1164     no
1165    yes
1166    yes
1167     no
1168     no
1169     no
1170    yes
1171    yes
1172    yes
1173    yes
1174    yes
1175    yes
1176    yes
1177    yes
1178    yes
1179    yes
1180    yes
1181     no
1182     no
1183     no
1184    yes
1185    yes
1186    yes
1187     no
1188    yes
1189    yes
1190    yes
1191    yes
1192    yes
1193     no
1194     no
1195    yes
1196     no
1197     no
1198     no
1199     no
1200    yes
1201    yes
1202     no
1203    yes
1204     no
1205    yes
1206     no
1207     no
1208    yes
1209     no
1210     no
1211     no
1212    yes
1213     no
1214    yes
1215     no
1216    yes
1217     no
1218     no
1219    yes
1220     no
1221    yes
1222     no
1223    yes
1224    yes
1225     no
1226    yes
1227    yes
1228    yes
1229     no
1230    yes
1231     no
1232    yes
1233     no
1234    yes
1235     no
1236     no
1237     no
1238    yes
1239     no
1240    yes
1241    yes
1242    yes
1243    yes
1244    yes
1245     no
1246    yes
1247     no
1248    yes
1249     no
1250     no
1251     no
1252    yes
1253     no
1254    yes
1255    yes
1256     no
1257    yes
1258     no
1259    yes
1260    yes
1261    yes
1262     no
1263     no
1264     no
1265    yes
1266     no
1267    yes
1268     no
1269    yes
1270    yes
1271     no
1272    yes
1273    yes
1274     no
1275    yes
1276    yes
1277    yes
1278    yes
1279     no
1280    yes
1281    yes
1282     no
1283     no
1284    yes
1285    yes
1286     no
1287    yes
1288     no
1289    yes
1290     no
1291    yes
1292     no
1293    yes
1294    yes
1295     no
1296     no
1297    yes
1298    yes
1299    yes
1300     no
1301    yes
1302     no
1303    yes
1304    yes
1305    yes
1306    yes
1307    yes
1308    yes
1309     no
1310    yes
1311     no
1312    yes
1313     no
1314     no
1315     no
1316    yes
1317     no
1318    yes
1319    yes
1320     no
1321    yes
1322    yes
1323    yes
1324     no
1325     no
1326    yes
1327    yes
1328    yes
1329    yes
1330    yes
1331    yes
1332    yes
1333    yes
1334     no
1335    yes
1336    yes
1337     no
1338     no
1339    yes
1340     no
1341     no
1342    yes
1343     no
1344    yes
1345     no
1346     no
1347    yes
1348     no
1349    yes
1350    yes
1351     no
1352    yes
1353     no
1354    yes
1355    yes
1356    yes
1357     no
1358    yes
1359    yes
1360    yes
1361    yes
1362     no
1363     no
1364     no
1365    yes
1366    yes
1367    yes
1368     no
1369    yes
1370     no
1371    yes
1372    yes
1373    yes
1374    yes
1375    yes
1376     no
1377    yes
1378     no
1379    yes
1380    yes
1381    yes
1382    yes
1383    yes
1384    yes
1385     no
1386    yes
1387     no
1388     no
1389     no
1390    yes
1391     no
1392    yes
1393     no
1394     no
1395     no
1396    yes
1397     no
1398     no
1399    yes
1400     no
1401    yes
1402    yes
1403     no
1404    yes
1405     no
1406    yes
1407     no
1408     no
1409    yes
1410     no
1411    yes
1412    yes
1413     no
1414     no
1415     no
1416     no
1417    yes
1418    yes
1419    yes
1420    yes
1421    yes
1422    yes
1423     no
1424    yes
1425    yes
1426    yes
1427    yes
1428     no
1429    yes
1430     no
1431    yes
1432    yes
1433    yes
1434     no
1435    yes
1436     no
1437     no
1438    yes
1439    yes
1440    yes
1441     no
1442    yes
1443    yes
1444    yes
1445    yes
1446     no
1447    yes
1448    yes
1449     no
1450    yes
1451     no
1452    yes
1453     no
1454    yes
1455    yes
1456    yes
1457    yes
1458    yes
1459    yes
1460     no
1461     no
1462    yes
1463    yes
1464    yes
1465     no
1466    yes
1467     no
1468     no
1469     no
1470    yes
1471     no
1472     no
1473    yes
1474    yes
1475    yes
1476    yes
1477    yes
1478    yes
1479    yes
1480    yes
1481    yes
1482    yes
1483     no
1484    yes
1485     no
1486    yes
1487    yes
1488     no
1489    yes
1490    yes
1491    yes
1492     no
1493     no
1494     no
1495    yes
1496     no
1497    yes
1498    yes
1499    yes
1500    yes
1501     no
1502     no
1503     no
1504    yes
1505     no
1506     no
1507    yes
1508    yes
1509     no
1510    yes
1511    yes
1512    yes
1513    yes
1514    yes
1515     no
1516    yes
1517    yes
1518     no
1519     no
1520     no
1521    yes
1522    yes
1523     no
1524     no
1525    yes
1526     no
1527    yes
1528    yes
1529     no
1530    yes
1531    yes
1532    yes
1533    yes
1534    yes
1535    yes
1536    yes
1537    yes
1538    yes
1539    yes
1540    yes
1541    yes
1542     no
1543    yes
1544    yes
1545    yes
1546    yes
1547     no
1548     no
1549    yes
1550     no
1551    yes
1552     no
1553    yes
1554    yes
1555    yes
1556    yes
1557     no
1558    yes
1559    yes
1560     no
1561     no
1562    yes
1563    yes
1564     no
1565    yes
1566    yes
1567    yes
1568     no
1569    yes
1570    yes
1571     no
1572    yes
1573    yes
1574     no
1575    yes
1576     no
1577    yes
1578    yes
1579    yes
1580     no
1581    yes
1582     no
1583     no
1584     no
1585     no
1586    yes
1587     no
1588    yes
1589     no
1590     no
1591    yes
1592    yes
1593    yes
1594    yes
1595     no
1596    yes
1597    yes
1598    yes
1599     no
1600    yes
1601     no
1602    yes
1603     no
1604    yes
1605    yes
1606    yes
1607    yes
1608    yes
1609     no
1610    yes
1611    yes
1612    yes
1613     no
Name: teletrabajo, dtype: object

In [27]:
#Cambiar columna tipo de jornada sustituyendo 80 por part time: 

df['tipo_jornada']=df['tipo_jornada'].str.replace('80,0','part time')
df['tipo_jornada']

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN
10            NaN
11            NaN
12            NaN
13            NaN
14            NaN
15            NaN
16            NaN
17            NaN
18            NaN
19            NaN
20            NaN
21            NaN
22            NaN
23      part time
24            NaN
25      part time
26            NaN
27            NaN
28            NaN
29            NaN
30            NaN
31            NaN
32            NaN
33      part time
34            NaN
35            NaN
36            NaN
37            NaN
38            NaN
39      part time
40      part time
41            NaN
42            NaN
43      part time
44            NaN
45            NaN
46            NaN
47      part time
48      part time
49      part time
50            NaN
51      part time
52            NaN
53            NaN
54            NaN
55      part time
56            NaN
57            NaN
58      part time
59            NaN
60      part time
61      part time
62            NaN
63            NaN
64            NaN
65      part time
66      part time
67            NaN
68            NaN
69      part time
70      part time
71            NaN
72      part time
73      part time
74            NaN
75            NaN
76            NaN
77            NaN
78      part time
79            NaN
80      part time
81            NaN
82            NaN
83            NaN
84            NaN
85            NaN
86      part time
87            NaN
88      part time
89      part time
90            NaN
91            NaN
92            NaN
93            NaN
94            NaN
95      part time
96            NaN
97            NaN
98            NaN
99            NaN
100           NaN
101           NaN
102           NaN
103           NaN
104           NaN
105           NaN
106           NaN
107           NaN
108           NaN
109     part time
110           NaN
111           NaN
112     part time
113           NaN
114           NaN
115           NaN
116           NaN
117           NaN
118           NaN
119           NaN
120           NaN
121     part time
122           NaN
123           NaN
124           NaN
125           NaN
126           NaN
127           NaN
128     part time
129           NaN
130           NaN
131     part time
132     part time
133           NaN
134           NaN
135           NaN
136     part time
137           NaN
138           NaN
139           NaN
140           NaN
141           NaN
142           NaN
143     part time
144           NaN
145     part time
146           NaN
147           NaN
148           NaN
149           NaN
150           NaN
151     part time
152     part time
153           NaN
154           NaN
155     part time
156           NaN
157           NaN
158           NaN
159           NaN
160     part time
161           NaN
162           NaN
163           NaN
164           NaN
165           NaN
166           NaN
167           NaN
168           NaN
169     part time
170     part time
171           NaN
172     part time
173     part time
174     part time
175           NaN
176           NaN
177     part time
178           NaN
179           NaN
180           NaN
181           NaN
182     part time
183           NaN
184     part time
185           NaN
186           NaN
187           NaN
188     part time
189     part time
190           NaN
191     part time
192           NaN
193           NaN
194           NaN
195           NaN
196     part time
197           NaN
198     part time
199           NaN
200           NaN
201     part time
202           NaN
203           NaN
204     part time
205           NaN
206           NaN
207           NaN
208     part time
209     part time
210           NaN
211           NaN
212           NaN
213     part time
214           NaN
215     part time
216           NaN
217     part time
218           NaN
219           NaN
220     part time
221           NaN
222     part time
223           NaN
224           NaN
225     part time
226     part time
227           NaN
228           NaN
229           NaN
230           NaN
231           NaN
232           NaN
233           NaN
234           NaN
235     part time
236           NaN
237           NaN
238     part time
239     part time
240           NaN
241     part time
242     part time
243           NaN
244           NaN
245           NaN
246           NaN
247     part time
248           NaN
249           NaN
250           NaN
251           NaN
252           NaN
253           NaN
254           NaN
255           NaN
256           NaN
257     part time
258           NaN
259           NaN
260     part time
261     part time
262           NaN
263     part time
264           NaN
265     part time
266           NaN
267           NaN
268           NaN
269           NaN
270     part time
271           NaN
272           NaN
273     part time
274     part time
275           NaN
276     part time
277           NaN
278           NaN
279           NaN
280           NaN
281           NaN
282           NaN
283           NaN
284           NaN
285           NaN
286           NaN
287           NaN
288           NaN
289     part time
290           NaN
291           NaN
292           NaN
293           NaN
294     part time
295           NaN
296           NaN
297           NaN
298           NaN
299           NaN
300           NaN
301           NaN
302           NaN
303           NaN
304           NaN
305           NaN
306           NaN
307     part time
308           NaN
309     part time
310           NaN
311           NaN
312           NaN
313     part time
314     part time
315           NaN
316           NaN
317           NaN
318           NaN
319     part time
320     part time
321           NaN
322     part time
323           NaN
324           NaN
325           NaN
326     part time
327     part time
328     part time
329           NaN
330           NaN
331           NaN
332     part time
333     part time
334           NaN
335           NaN
336           NaN
337           NaN
338           NaN
339           NaN
340           NaN
341           NaN
342           NaN
343           NaN
344     part time
345     part time
346     part time
347     part time
348           NaN
349           NaN
350     part time
351           NaN
352           NaN
353           NaN
354           NaN
355           NaN
356           NaN
357     part time
358           NaN
359           NaN
360     part time
361     part time
362     part time
363           NaN
364           NaN
365           NaN
366           NaN
367           NaN
368           NaN
369           NaN
370           NaN
371     part time
372           NaN
373           NaN
374     part time
375           NaN
376           NaN
377           NaN
378     part time
379           NaN
380           NaN
381     part time
382     part time
383           NaN
384           NaN
385           NaN
386     part time
387           NaN
388           NaN
389     part time
390     part time
391           NaN
392           NaN
393     part time
394           NaN
395           NaN
396           NaN
397           NaN
398           NaN
399           NaN
400           NaN
401           NaN
402     part time
403     part time
404           NaN
405           NaN
406           NaN
407     part time
408           NaN
409           NaN
410           NaN
411           NaN
412           NaN
413     part time
414           NaN
415           NaN
416     part time
417     part time
418           NaN
419           NaN
420     part time
421           NaN
422           NaN
423           NaN
424     part time
425     part time
426           NaN
427           NaN
428     part time
429           NaN
430           NaN
431           NaN
432           NaN
433     part time
434           NaN
435           NaN
436     part time
437           NaN
438     part time
439           NaN
440           NaN
441           NaN
442           NaN
443           NaN
444           NaN
445     part time
446     part time
447     part time
448           NaN
449           NaN
450           NaN
451     part time
452     part time
453     part time
454           NaN
455           NaN
456     part time
457           NaN
458     part time
459           NaN
460           NaN
461           NaN
462           NaN
463           NaN
464     part time
465           NaN
466           NaN
467     part time
468           NaN
469           NaN
470     part time
471           NaN
472           NaN
473           NaN
474           NaN
475           NaN
476           NaN
477           NaN
478           NaN
479           NaN
480           NaN
481           NaN
482           NaN
483           NaN
484     part time
485           NaN
486           NaN
487           NaN
488           NaN
489           NaN
490     part time
491     part time
492     part time
493           NaN
494           NaN
495           NaN
496           NaN
497           NaN
498           NaN
499           NaN
500           NaN
501           NaN
502           NaN
503           NaN
504     part time
505     part time
506           NaN
507           NaN
508           NaN
509     part time
510           NaN
511           NaN
512           NaN
513           NaN
514     part time
515           NaN
516           NaN
517           NaN
518           NaN
519           NaN
520           NaN
521     part time
522           NaN
523           NaN
524     part time
525           NaN
526           NaN
527           NaN
528     part time
529           NaN
530     part time
531     part time
532           NaN
533           NaN
534           NaN
535           NaN
536     part time
537           NaN
538     part time
539           NaN
540           NaN
541     part time
542           NaN
543           NaN
544           NaN
545           NaN
546           NaN
547     part time
548           NaN
549           NaN
550           NaN
551     part time
552     part time
553           NaN
554           NaN
555           NaN
556     part time
557           NaN
558           NaN
559           NaN
560           NaN
561     part time
562           NaN
563           NaN
564     part time
565           NaN
566           NaN
567           NaN
568     part time
569     part time
570           NaN
571           NaN
572           NaN
573           NaN
574           NaN
575           NaN
576           NaN
577     part time
578           NaN
579           NaN
580           NaN
581     part time
582           NaN
583           NaN
584     part time
585           NaN
586           NaN
587           NaN
588           NaN
589           NaN
590           NaN
591     part time
592           NaN
593           NaN
594           NaN
595     part time
596     part time
597           NaN
598           NaN
599           NaN
600     part time
601     part time
602     part time
603           NaN
604     part time
605     part time
606     part time
607           NaN
608           NaN
609           NaN
610     part time
611           NaN
612           NaN
613     part time
614           NaN
615     part time
616           NaN
617           NaN
618           NaN
619           NaN
620           NaN
621           NaN
622           NaN
623     part time
624           NaN
625           NaN
626           NaN
627           NaN
628           NaN
629           NaN
630           NaN
631     part time
632           NaN
633           NaN
634           NaN
635           NaN
636     part time
637           NaN
638           NaN
639     part time
640     part time
641           NaN
642           NaN
643           NaN
644     part time
645           NaN
646           NaN
647           NaN
648     part time
649     part time
650     part time
651           NaN
652           NaN
653     part time
654     part time
655     part time
656           NaN
657           NaN
658     part time
659           NaN
660     part time
661           NaN
662           NaN
663           NaN
664     part time
665           NaN
666           NaN
667           NaN
668     part time
669           NaN
670     part time
671           NaN
672           NaN
673     part time
674           NaN
675           NaN
676           NaN
677           NaN
678           NaN
679           NaN
680     part time
681           NaN
682     part time
683     part time
684           NaN
685           NaN
686           NaN
687           NaN
688     part time
689           NaN
690           NaN
691     part time
692           NaN
693           NaN
694           NaN
695           NaN
696           NaN
697           NaN
698           NaN
699           NaN
700     part time
701           NaN
702           NaN
703           NaN
704     part time
705           NaN
706           NaN
707           NaN
708     part time
709     part time
710           NaN
711           NaN
712           NaN
713     part time
714           NaN
715           NaN
716     part time
717           NaN
718           NaN
719           NaN
720           NaN
721           NaN
722     part time
723     part time
724     part time
725           NaN
726           NaN
727     part time
728           NaN
729           NaN
730           NaN
731     part time
732           NaN
733     part time
734           NaN
735           NaN
736           NaN
737           NaN
738           NaN
739           NaN
740           NaN
741           NaN
742           NaN
743           NaN
744           NaN
745           NaN
746           NaN
747     part time
748     part time
749     part time
750           NaN
751           NaN
752     part time
753           NaN
754           NaN
755           NaN
756           NaN
757           NaN
758           NaN
759           NaN
760           NaN
761           NaN
762           NaN
763           NaN
764           NaN
765           NaN
766           NaN
767           NaN
768     part time
769           NaN
770           NaN
771     part time
772     part time
773     part time
774           NaN
775           NaN
776           NaN
777           NaN
778           NaN
779           NaN
780           NaN
781           NaN
782           NaN
783           NaN
784           NaN
785           NaN
786           NaN
787           NaN
788           NaN
789           NaN
790           NaN
791           NaN
792           NaN
793           NaN
794           NaN
795           NaN
796           NaN
797     part time
798           NaN
799           NaN
800           NaN
801     part time
802           NaN
803           NaN
804           NaN
805           NaN
806           NaN
807           NaN
808           NaN
809           NaN
810           NaN
811           NaN
812           NaN
813           NaN
814     part time
815     part time
816     part time
817           NaN
818           NaN
819           NaN
820           NaN
821     part time
822           NaN
823           NaN
824           NaN
825           NaN
826           NaN
827           NaN
828           NaN
829           NaN
830           NaN
831     part time
832     part time
833           NaN
834           NaN
835     part time
836           NaN
837     part time
838           NaN
839           NaN
840           NaN
841           NaN
842           NaN
843           NaN
844           NaN
845     part time
846     part time
847           NaN
848           NaN
849           NaN
850           NaN
851           NaN
852           NaN
853           NaN
854     part time
855     part time
856           NaN
857           NaN
858           NaN
859           NaN
860           NaN
861           NaN
862     part time
863           NaN
864     part time
865           NaN
866     part time
867     part time
868           NaN
869           NaN
870     part time
871           NaN
872           NaN
873           NaN
874     part time
875           NaN
876     part time
877     part time
878           NaN
879           NaN
880           NaN
881           NaN
882           NaN
883           NaN
884           NaN
885           NaN
886           NaN
887     part time
888           NaN
889           NaN
890           NaN
891           NaN
892     part time
893     part time
894           NaN
895     part time
896           NaN
897     part time
898     part time
899           NaN
900           NaN
901           NaN
902           NaN
903           NaN
904           NaN
905     part time
906     part time
907     part time
908           NaN
909           NaN
910           NaN
911           NaN
912           NaN
913     part time
914           NaN
915           NaN
916           NaN
917           NaN
918           NaN
919           NaN
920           NaN
921           NaN
922     part time
923           NaN
924           NaN
925           NaN
926           NaN
927           NaN
928           NaN
929           NaN
930     part time
931           NaN
932           NaN
933           NaN
934           NaN
935           NaN
936           NaN
937     part time
938           NaN
939     part time
940           NaN
941     part time
942     part time
943           NaN
944           NaN
945           NaN
946           NaN
947     part time
948           NaN
949           NaN
950           NaN
951           NaN
952     part time
953           NaN
954     part time
955     part time
956           NaN
957           NaN
958           NaN
959           NaN
960           NaN
961           NaN
962           NaN
963     part time
964     part time
965     part time
966     part time
967           NaN
968           NaN
969           NaN
970           NaN
971           NaN
972           NaN
973     part time
974           NaN
975           NaN
976           NaN
977           NaN
978           NaN
979           NaN
980     part time
981           NaN
982           NaN
983           NaN
984           NaN
985           NaN
986     part time
987           NaN
988           NaN
989           NaN
990     part time
991     part time
992           NaN
993     part time
994           NaN
995           NaN
996           NaN
997           NaN
998           NaN
999     part time
1000    part time
1001          NaN
1002          NaN
1003    part time
1004          NaN
1005          NaN
1006          NaN
1007          NaN
1008          NaN
1009          NaN
1010          NaN
1011          NaN
1012    part time
1013          NaN
1014    part time
1015          NaN
1016          NaN
1017          NaN
1018          NaN
1019    part time
1020    part time
1021          NaN
1022          NaN
1023    part time
1024          NaN
1025          NaN
1026          NaN
1027    part time
1028          NaN
1029    part time
1030          NaN
1031          NaN
1032          NaN
1033    part time
1034    part time
1035          NaN
1036          NaN
1037          NaN
1038          NaN
1039          NaN
1040          NaN
1041          NaN
1042    part time
1043    part time
1044          NaN
1045    part time
1046          NaN
1047          NaN
1048    part time
1049          NaN
1050    part time
1051    part time
1052          NaN
1053          NaN
1054          NaN
1055          NaN
1056          NaN
1057          NaN
1058    part time
1059    part time
1060          NaN
1061          NaN
1062          NaN
1063          NaN
1064          NaN
1065          NaN
1066          NaN
1067    part time
1068          NaN
1069          NaN
1070          NaN
1071          NaN
1072          NaN
1073          NaN
1074          NaN
1075          NaN
1076          NaN
1077    part time
1078          NaN
1079          NaN
1080    part time
1081          NaN
1082          NaN
1083          NaN
1084    part time
1085          NaN
1086          NaN
1087    part time
1088          NaN
1089    part time
1090          NaN
1091    part time
1092          NaN
1093          NaN
1094          NaN
1095          NaN
1096          NaN
1097    part time
1098          NaN
1099          NaN
1100          NaN
1101          NaN
1102          NaN
1103    part time
1104          NaN
1105          NaN
1106          NaN
1107          NaN
1108    part time
1109          NaN
1110    part time

###### **ELIMINAR ERRATAS EN NÚMEROS:**

In [28]:
# Cambiar columna nivel_satisfaccion_global para quedarnos con la decena en los valores superiores a 10:

df.loc[df['nivel_satisfaccion_global'] > 9, 'nivel_satisfaccion_global'] = df['nivel_satisfaccion_global'] // 10

In [29]:
# Comprobamos el resultado: 

df['nivel_satisfaccion_global'].max()

4

In [30]:
# GUARDAR CAMBIOS TRAS LIMPIEZA.
# Guardamos el df en un nuevo fichero csv para salvar las modificaciones realizadas

df.to_csv("HR_RAW_v2.csv")